<footer class="footer">
	<div class="footer__top">
		<div class="container">
			<div class="footer__info">
				<a
					href="#"
					class="footer__top-logo">
					<svg>
						<use xlink:href="./sprite.svg#logo" />
					</svg>
				</a>

				<ul class="footer__info-list">
					<li>ИП Федорова Е.Е.</li>
					<li>ОГРНИП: 318774600229097</li>
					<li>ИНН: 770500803835</li>
					<li>Адрес: 115093, Москва,ул. Б. Серпуховская д.34, корп. 5, 72</li>
				</ul>
			</div>
			<div class="footer__top-block block1">
				<p class="footer__top-block__heading heading5">Меню</p>
				<ul class="footer__top-block__list">
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Акции и бонусы
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Авторский кофе
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Новости
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Доставка и оплата
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Карьера
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Контакты
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							О компании
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__top-block block2">
				<p class="footer__top-block__heading heading5">Для бизнеса</p>
				<ul class="footer__top-block__list">
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Франшиза
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Партнерство
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Арендодателям
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Выездной бариста
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Кейтеринг
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Организация мероприятий
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Бизнес завтраки и бранчи
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Корпоративное питание
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Открыть кофейню в мед. учреждении
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__top-block block3">
				<p class="footer__top-block__heading heading5">Каталог</p>
				<ul class="footer__top-block__list">
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Кулинария
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Меню кофеен
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Торты на заказ
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Кофе в зернах
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__top-block block4">
				<p class="footer__top-block__heading heading5">Поддержка</p>
				<ul class="footer__top-block__list">
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Оставить отзыв
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Написать в поддержку
						</a>
					</li>
					<li class="footer__top-block__list-item">
						<a
							href="#"
							class="menu">
							Написать руководству
						</a>
					</li>
				</ul>
			</div>
			<div class="footer__top-right">
				<div class="footer__top-block block6">
					<p class="footer__top-block__heading heading5">Документация</p>
					<ul class="footer__top-block__list">
						<li class="footer__top-block__list-item">
							<a
								href="#"
								class="menu">
								Политика конфиденциальности
							</a>
						</li>
						<li class="footer__top-block__list-item">
							<a
								href="#"
								class="menu">
								Договор оферты
							</a>
						</li>
						<li class="footer__top-block__list-item">
							<a
								href="#"
								class="menu">
								Согласие на обработку персональных данных
							</a>
						</li>
					</ul>
				</div>
				<div class="footer__top-block block5">
					<p class="footer__top-block__heading heading5">Контакты</p>
					<ul class="footer__top-block__list">
						<li class="footer__top-block__list-item">
							<a
								href="tel:+74952121059"
								class="menu">
								8 495 212 10 59
							</a>
						</li>
						<li class="footer__top-block__list-item">
							<a
								href="mailto:in@cofefest.ru"
								class="menu">
								in@cofefest.ru
							</a>
						</li>
					</ul>
				</div>
			</div>
			<ul class="footer__top-social">
				<li class="footer__top-social__item">
					<a
						href="#"
						class="footer__top-social__item-link">
						<svg>
							<use xlink:href="./sprite.svg#vk" />
						</svg>
					</a>
				</li>
				<li class="footer__top-social__item">
					<a
						href="#"
						class="footer__top-social__item-link">
						<svg class="icon-link telegram">
							<use xlink:href="./sprite.svg#telegram" />
						</svg>
					</a>
				</li>
				<li class="footer__top-social__item">
					<a
						href="#"
						class="footer__top-social__item-link">
						<svg class="icon-link">
							<use xlink:href="./sprite.svg#youtube" />
						</svg>
					</a>
				</li>
				<li class="footer__top-social__item">
					<a
						href="#"
						class="footer__top-social__item-link">
						<svg class="icon-link">
							<use xlink:href="./sprite.svg#dzen" />
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer__bottom menu">
		<div class="container">
			<p class="footer__bottom-left">&copy; 2023 CofeFest</p>
			<p class="footer__bottom-center">
				Информация, размещенная на сайте, не является публичной офертой
			</p>
			<div class="footer__bottom-right">
				<div class="footer__bottom-right__text">
					<p>Разработано</p>
					<p>
						<span>Request</span>
						Design
					</p>
				</div>
				<svg class="request-logo">
					<use xlink:href="./sprite.svg#request" />
				</svg>
				<a
					href="#"
					class="footer__bottom-right__link"></a>
			</div>
		</div>
	</div>
</footer>

<div class="modal__box"></div>

<script
	src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=cb93da52-9741-4ffe-86ea-93a91ce99a1c"
	type="text/javascript"></script>
<script src="./src/js/air-datepicker.js"></script>
<script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
<script src="./src/js/swiper-bundle.min.js"></script>
<script src="./src/js/swipers.js"></script>
<script src="./src/js/main.js"></script>
<script src="./src/js/modal.js"></script>
<script src="./src/js/chronology.js"></script>
<script src="./src/js/map.js"></script>
<script src="./src/js/inputs.js"></script>
<script src="./src/js/modals-connections.js"></script>
