<header class="header">
    <div class="container">
        <button class="header__burger mobile">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="17" viewBox="0 0 28 17" fill="none">
                <path d="M1 8.44336H26" stroke="#FFF9EE" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M1 0.568359H26" stroke="#FFF9EE" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M1 16.3184H26" stroke="#FFF9EE" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        <a href="#" class="header__logo">
            <img src="./src/images/svg/logo.svg" alt="">
        </a>
        <nav class="header__nav desktop">
            <ul class="header__top-list">
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Услуги</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Акции</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">О нас</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Авторский кофе</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Для бизнеса</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Доставка и оплата</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Карьера</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Новости</a>
                </li>
                <li class="header__top-list__item">
                    <a href="#" class="header__top-list__item-link menu">Контакты</a>
                </li>
            </ul>
            <ul class="header__bottom-list">
                <li class="header__bottom-list__item">
                    <a href="#" class="header__bottom-list__item-link heading5">Зерновой кофе</a>
                </li>
                <li class="header__bottom-list__item">
                    <a href="#" class="header__bottom-list__item-link heading5">меню кофеен</a>
                </li>
                <li class="header__bottom-list__item">
                    <a href="#" class="header__bottom-list__item-link heading5">меню кулинарии</a>
                </li>
                <li class="header__bottom-list__item">
                    <a href="#" class="header__bottom-list__item-link heading5">торты на заказ</a>
                </li>
            </ul>
        </nav>
        <div class="header__right">
            <button class="header__search desktop">
                <img src="./src/images/svg/search.svg" alt="">
            </button>
            <a href="#" class="header__account">
                <img src="./src/images/svg/account.svg" alt="">
            </a>
            <a href="#" class="header__cart">
                <img src="./src/images/svg/shopping-cart.svg" alt="">
            </a>
        </div>
    </div>
</header>