<header class="header">
	<div class="container">
		<button class="header__burger mobile">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="28"
				height="17"
				viewBox="0 0 28 17"
				fill="none">
				<path
					d="M1 8.44336H26"
					stroke="#FFF9EE"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M1 0.568359H26"
					stroke="#FFF9EE"
					stroke-linecap="round"
					stroke-linejoin="round" />
				<path
					d="M1 16.3184H26"
					stroke="#FFF9EE"
					stroke-linecap="round"
					stroke-linejoin="round" />
			</svg>
		</button>
		<a
			href="#"
			class="header__logo">
			<svg>
				<use xlink:href="./src/images/svg/symbol/sprite.svg#logo" />
			</svg>
		</a>
		<nav class="header__nav desktop">
			<ul class="header__top-list">
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Услуги
					</a>

					<nav class="services-popup-list">
						<a href="/franchise.html"><span>Франшиза</span></a>
						<a href="/away.html"><span>Выездной бариста</span></a>
						<a href="/corpo-food.html"><span>Корпоративное питание</span></a>
						<a href="/catering.html"><span>Кейтеринг</span></a>
					</nav>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Акции
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="/dist/about.html"
						class="header__top-list__item-link menu">
						О компании
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Авторский кофе
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Для бизнеса
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Доставка и оплата
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Карьера
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Новости
					</a>
				</li>
				<li class="header__top-list__item">
					<a
						href="#"
						class="header__top-list__item-link menu">
						Контакты
					</a>
				</li>
			</ul>

			<div class="header__search-block">
				<label>
					<input
						class="header__search-input"
						type="text"
						placeholder="Поиск" />
					<button class="header__search-icon">
						<svg class="search-icon">
							<use xlink:href="./src/images/svg/symbol/sprite.svg#search" />
						</svg>
					</button>

					<button class="header__search-enter-icon">
						<svg  class="search-arrow">
							<use xlink:href="./src/images/svg/symbol/sprite.svg#search-arrow" />
						</svg>
					</button>
					
					<button class="header__search-close-icon">
						<svg class="crest">
							<use xlink:href="./src/images/svg/symbol/sprite.svg#crest" />
						</svg>
					</button>
				</label>
			</div>

			<ul class="header__bottom-list">
				<li class="header__bottom-list__item">
					<a
						href="#"
						class="header__bottom-list__item-link heading5">
						Зерновой кофе
					</a>
				</li>
				<li class="header__bottom-list__item">
					<a
						href="#"
						class="header__bottom-list__item-link heading5">
						меню кофеен
					</a>
				</li>
				<li class="header__bottom-list__item">
					<a
						href="#"
						class="header__bottom-list__item-link heading5">
						меню кулинарии
					</a>
				</li>
				<li class="header__bottom-list__item">
					<a
						href="#"
						class="header__bottom-list__item-link heading5">
						торты на заказ
					</a>
				</li>
			</ul>
		</nav>
		<div class="header__right">
			<div class="header__right-btns-wrapper">
				<button
					class="header__search desktop"
					id="header-search">
					<svg class="search-icon">
						<use xlink:href="./src/images/svg/symbol/sprite.svg#search" />
					</svg>
				</button>
				<a
					href="#"
					class="header__account">
					<svg>
						<use xlink:href="./src/images/svg/symbol/sprite.svg#profile" />
					</svg>
				</a>
				<a
					href="#"
					class="header__cart">
					<svg class="bag">
						<use xlink:href="./src/images/svg/symbol/sprite.svg#bag" />
					</svg>
				</a>
			</div>

			<a
				href="tel:84952121059"
				class="header__right-tel-link">
				<svg class="phone-icon">
					<use xlink:href="./src/images/svg/symbol/sprite.svg#phone" />
				</svg>
				<span>8 495 212 10 59</span>
			</a>
		</div>
	</div>
</header>
