.about-info {
	background-color: $biege;

	.section-tags__container {
			margin-bottom: 4rem;
	}
<<<<<<< HEAD

<<<<<<< HEAD
	.section-tags__container {
		margin-bottom: 4rem;
	}
}
=======
	&__card {
			display: none;

			&.active {
					display: flex;
			}
	}
}
>>>>>>> f23ac42 (feat: change files after rebase)
=======
}
>>>>>>> a589598 (fix: change styles)
