.about-team {
	&__heading {
		margin-bottom: 4.5rem;
		text-align: center;
	}

	&__description {
		margin: 0 auto;
		margin-bottom: 5rem;
		width: 85rem;
		text-align: center;
	}

	&__container {
		position: relative;
	}

	&__swiper {
		margin-bottom: 4rem;

		&-slide {
			text-align: center;
			&__img {
				margin-bottom: 2.8rem;
				width: 100%;
				height: 43.6rem;
				border-radius: 0 0 5rem 5rem;
			}
		}
	}
}
