.about-hero {
    margin-top: 14rem;
    padding-top: 14rem;
    height: calc(100vh - 14rem);
    position: relative;
    background: url(../images/svg/about-hero-ornament.svg) top left/cover no-repeat;


    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__heading {
        text-align: center;
    }
}
