.about-info {
	background-color: $biege;

<<<<<<< HEAD
    .section-tags__container {
        margin-bottom: 4rem;
    }

=======
	.section-tags__container {
		margin-bottom: 4rem;
	}
>>>>>>> df18357 (feat: update from remote)
}
