.about-info {
	background-color: $biege;

	.section-tags__container {
			margin-bottom: 4rem;
	}

	.section-tags__container {
		margin-bottom: 4rem;
	}
}

@media (max-width: 48em) {
	// .about-info {
	// 	&__card {
	// 		position: relative;
	// 		flex-direction: column-reverse;

	// 		.section-info__card {
	// 			&-left {
	// 				width: auto;
	// 				order: 2;

	// 				&__heading {
	// 					position: absolute;
	// 					top: 9.6rem;
	// 					left: 5.5rem;
	// 				}
	// 			}

	// 			&-right {
	// 				order: 1;
	// 				width: auto;
	// 				height: 37rem;
	// 				margin: 11.6rem 0 8rem 0;

	// 				&__img {
	// 					&:first-child {
	// 						margin: 0 2rem 0 0;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	.about-info__card {
		flex-direction: column;

		.section-info__card-left {
			width: auto;
			padding: 10rem 4rem 8rem;
		}

		.section-info__card-right {
			width: auto;

			&__img {
				height: 50rem;
				border-radius: 0 0 7.2rem 7.2rem;
			}
		}
	}

	.about-info__card.cakes__banner {
		flex-direction: column-reverse;
		padding: 21.6rem 4rem 10rem 4rem;
		position: relative;

		.section-info__card-left {
			padding: 8rem 0rem 0rem 0rem;

			&__heading {
				position: absolute;
				top: 10rem;
				left: 4rem;
			}

			&__description {
				p:first-child {
					margin: 0 0 4rem 0;
				}

				.square-btn {
					width: 100%;
					text-align: center;
				}
			}
		}

		.section-info__card-right {
			height: auto;

			&__img {
				width: 28.6rem;
				height: 37rem;
			}
		}
	}
}