.about-info {
<<<<<<< HEAD
	background-color: $biege;

<<<<<<< HEAD
=======
    background-color: $biege;

>>>>>>> 89b79b4 (feat: update from main remote)
    .section-tags__container {
        margin-bottom: 4rem;
    }

<<<<<<< HEAD
=======
	.section-tags__container {
		margin-bottom: 4rem;
	}
>>>>>>> df18357 (feat: update from remote)
=======
>>>>>>> 89b79b4 (feat: update from main remote)
}
