.about-info {
    background-color: $biege;

    .section-tags__container {
        margin-bottom: 4rem;
    }

    &__card {
        display: none;

        &.active {
            display: flex;
        }
    }
}
