.account-main {
    margin-top: 14rem;

    &__container {
        display: flex;
        border-radius: 0 0 5rem 5rem;
    }

    &__left {
        padding: 8rem 6rem;
        width: 82.5rem;
        background-color: $biege;
        border-radius: 0 0 0 5rem;

        &-heading {
            margin-bottom: 3.2rem;
        }

        &-text {
            margin-bottom: 4.5rem;
            display: flex;

            p {
                margin-right: 1rem;
                color: $darkGrey;
            }

            a {
                font-weight: 700;
            }
        }

        &-form {
            margin-bottom: 4.5rem;
            width: 48rem;

            .input-container {
                &:not(:last-of-type) {
                    margin-bottom: 2.4rem;
                }

                &:last-of-type {
                    margin-bottom: 3.2rem;
                }
            }
        }

        &-policy {
            color: $darkGrey;

            a {
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }

    &__right {
        width: 77.5rem;
        min-height: 85rem;
        border-radius: 0 0 5rem 0;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }
}
