.authorcoffee-types {
	&__container {
		position: relative;
	}

	&__swiper {
		margin-bottom: 5rem;

		&-slide {
			display: flex;

			&__left {
				padding: 8rem 6rem;
				width: 82rem;
				background-color: $biege;
				border-radius: 0 0 0 5rem;

				&-heading,
				&-subheading,
				&-description {
					margin-bottom: 4.5rem;
				}

				&-description {
					p {
						&:not(:last-child) {
							margin-bottom: 1rem;
						}
					}
				}
			}

			&__right {
				width: 78rem;
				min-height: 64.5rem;
				border-radius: 0 0 5rem 0;

				&-img {
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
					border-radius: inherit;
				}
			}
		}
	}
}
