.authorcoffee-types {
	&__container {
		position: relative;
	}

	&__swiper {
		margin-bottom: 5rem;

		&-slide {
			display: flex;

			&__left {
				padding: 8rem 6rem;
				width: 82rem;
				background-color: $biege;
				border-radius: 0 0 0 5rem;

				&-heading {
					margin-bottom: 2.5rem;
				}
				&-subheading,
				&-description {
					margin-bottom: 4.5rem;
				}

				&-description {
					p {
						&:not(:last-child) {
							margin-bottom: 1rem;
						}
					}
				}

				&-link {
					&:hover:not(:focus-visible) {
						color: $light;

						.arrow-link__icon {
							fill: $light;
						}
					}
				}
			}

			&__right {
				border-radius: 0 0 5rem 0;
				overflow: hidden;

				&-img {
					width: 79.1rem;
					min-height: 67.8rem;
					-o-object-fit: cover;
					object-fit: cover;
					border-radius: inherit;
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.authorcoffee-types {
		&.light-section {
			background-color: $light;
			background-image: url('../images/background-12-mobile.webp');
		}

		.swiper-container {
			margin-bottom: 8rem;
		}

		&__swiper-slide {
			flex-direction: column;
			// height: auto;

			&__left {
				width: auto;
				height: calc(100% - 82rem);
				width: 67rem;
				border-radius: 0;
				padding: 9.6rem 3.6rem 8rem 3.6rem;

				&-heading {
					font-size: 5.2rem;
					line-height: 120%; /* 6.24rem */
					margin-bottom: 4rem;
				}

				&-description {
					font-size: 2.8rem;
					line-height: 140%; /* 3.92rem */
					margin-bottom: 8rem;
				}

				&-link {
					width: 100%;
					justify-content: flex-end;

					span {
						font-size: 3.2rem;
						line-height: 120%; /* 3.84rem */
						letter-spacing: 0.096rem;
						margin-right: 2rem;
					}
				}
			}

			&__right {
				// height: 82rem;
				border-radius: 0 0 7.2rem 7.2rem;
				overflow: hidden;
				width: auto;
				width: 67rem;
				height: 57.4rem;

				img {
					-o-object-fit: cover;
					   object-fit: cover;
					width: 67rem;
					height: 57.4rem;
				}
			}
		}

		&__swiper-controllers {
			.swiper-prev,
			.swiper-next {
				display: none;
			}
		}
	}
}
