.away-cards {
	.swiper-wrapper {
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}


}
.catalog-card-1 {
	padding: 0;
	&__img {
		max-width: 100%;
		width: 100%;
		height: 37.4rem;
	}

	&__descr {
		max-width: 100%;
		width: 100%;
	}
}

@media (max-width: 48em) {
	.proposal__swiper-prev,
	.proposal__swiper-next {
		display: none !important;
	}
}