.banner-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.4rem 3.6rem;
	position: absolute;
	height: 7.1rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	gap: 2rem;
	transition: 0.25s ease-in-out;

	span {
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0.09rem;
		text-transform: uppercase;
		transition: 0.2s ease-in-out;
		line-height: 1;
	}

	&__icon {
		svg {
			width: 3.1rem;
			height: 1.3rem;
		}
	}

	&--top {
		top: 27.4rem;
		transform: translateX(-50%);
	}

	&--left {
		left: 10rem;
		transform: translateY(-50%);
	}

	&--bottom {
		top: auto;
		bottom: 25.8rem;
		transform: translateX(-50%);
	}

	&--light {
		border: 0.2rem solid #f5f5f5;
		background: $red;

		span {
			color: #f5f5f5;
		}

		&:hover {
			border: 0.2rem solid #fff9ee;
			background-color: #f5f5f5;
			span {
				color: $red;
			}

			svg {
				fill: #f5f5f5;
			}
		}
	}

	&--biege {
		border: 0.2rem solid $biege;
		background: rgba(230, 176, 154, 0.2);
		span {
			color: $biege;
		}
	}

	&--blue {
		border: 0.2rem solid $darkBlue;
		background: rgba(230, 176, 154, 0.2);
		span {
			color: $darkBlue;
		}
	}

	&--red {
		border: 0.2rem solid #65324e;
		background: #fffaf1;
		span {
			color: $red;
		}

		&:hover {
			
			background-color: $red;
			span {
				color: #fffaf1;
			}

			svg {
				fill: $red;
			}
		}
	}
}

@media (max-width: 48em) {
	.banner-btns {
		top: auto;
		transform: translateX(-50%);
		bottom: 11.98%;

		padding: 3.1rem 7.2rem;
		height: 10rem;
		span {
			font-size: 3.2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.096rem;
			white-space: nowrap;
		}

		&--left {
			left: 50%;
		}
	}
}
