.calendar {
	background-color: $darkBlue;
	overflow: hidden;
	border-radius: 0rem 0rem 2.5rem 2.5rem;
	padding: 2rem 3rem;
	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 1rem;
		padding-bottom: 1.7rem;
		border-bottom: 0.1rem solid #bababa;
		margin-bottom: 1rem;

		&-date {
			display: flex;
			align-items: center;
			gap: 0.7rem;
		}

		&-controlls {
			display: flex;
			align-items: center;
			gap: 1.2rem;

			span {
				width: 3.5rem;
				height: 2.6rem;
				cursor: pointer;

				&:first-child {
					transform: scaleX(-1);
				}

				svg {
					width: 100%;
				}
			}
		}
	}

	&__month,
	&__year {
		color: #fff9ee;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: 0.09rem;
		text-transform: uppercase;
	}

	&__board {
		display: flex;
		gap: 1.7rem;
		flex-direction: column;

		&-days {
			display: flex;
			align-items: center;
			gap: 2.5rem;

			span {
				width: 3.4rem;
				padding: 0.4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				color: #bababa;
				text-align: center;

				font-family: Circe;
				font-size: 2rem;
				font-style: normal;
				font-weight: 400;
				line-height: 125%;
			}
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 1.6rem 2.5rem;
		}

		&-cell {
			width: 3.4rem;
			height: 3.4rem;
			padding: 0.4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 0.1rem solid $darkBlue;
			span {
				color: #fff9ee;
				text-align: center;
				font-size: 2rem;
				font-style: normal;
				font-weight: 400;
				line-height: 125%;
				position: relative;
				bottom: -0.1rem;
			}

			&.current {
				border-radius: 50%;
				border: 0.1rem solid #e6af9a;

				span {
					color: #e6af9a;
				}
			}
			&.active {
				border-radius: 50%;
				border: 0.1rem solid #e6af9a;
				background-color: #e6af9a;
			}
		}
	}

	&__info {
		padding-top: 2.4rem;
		padding-bottom: 4rem;
	}
}
