.card-det {
	display: flex;
	gap: 3.5rem;
	position: relative;
	z-index: 2;

	&__container {
		padding-top: 8.1rem;
	}

	&__img {
		width: 78.3rem;
		height: 71.3rem;
		border-radius: 0px 0px 5rem 5rem;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__content-box {
		display: flex;
		gap: 5.3rem;
		flex-direction: column;
	}

	&__heading {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}

	&__subtitle {
		width: 69.6rem;
	}

	&__subs-wrapper {
		display: flex;
		flex-direction: column;
		width: 69.6rem;
		gap: 0.2rem;
	}

	&__more {
		display: flex;
		gap: 1.2rem;
		width: 100%;
		align-items: center;
		cursor: pointer;

		svg {
			display: block;
			width: 2.4rem;
			height: 2.4rem;
			transition: 0.4s;
		}

		&.active {
			svg {
				transform: rotate(-180deg);
			}
		}
	}

	&__stats-list {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}

	&__stats-item {
		display: flex;
		flex-direction: column;
		gap: 0.8rem;
	}

	&__stats-featurs {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		width: 23.8rem;
	}

	&__bar {
		display: flex;
		gap: 0.3rem;
		align-items: center;
	}

	&__bar-item {
		min-width: 5.725rem;
		min-height: 0.6rem;
		max-width: 5.725rem;
		max-height: 0.6rem;
		display: block;
		background-color: #f1ded0;
		&.active {
			background-color: #29354d;
		}
	}

	&__left-side {
		display: flex;
		flex-direction: column;
		gap: 5.3rem;
	}

	&__right-side {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: 37.4rem;
		padding: 2.1rem 4.7rem 4.5rem 4.7rem;
		border-radius: 0 0 3rem 3rem;
		border: 0.1rem solid #f1ded0;
		background: #fff9ee;
		box-shadow: 1rem 1rem 2rem 0rem rgba(0, 0, 0, 0.05);

		&:focus {
			outline: none;
		}

		.stroke-btn {
			&--slim {
				transition: 0.2s ease-in-out;
				padding: 1.4rem;
				background-color: #fff9ee;
			}

			&:hover {
				@media (hover:hover) {
					background-color: rgba(35, 41, 62, 0.3);
					color: #FFF9EE;
					border-color: #FFF9EE;
				}
			}
		}
	}

	&__stats-weight-list {
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 4.4rem;

		height: 5.7rem;
		margin-bottom: 4rem;
	}

	&__main-box {
		display: flex;
		justify-content: space-between;
		width: 78.3rem;
	}

	&__popup-point {
		position: relative;
	}

	&__text-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}

	&__text-icon {
		display: flex;
		gap: 1.5rem;
		align-items: center;
	}

	.time-icon {
		min-width: 2rem;
		width: 2rem;
		min-height: 2rem;
		height: 2rem;
	}

	&__more-icon {
		transition: 0.3s ease-in-out;
	}

	&__more-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: relative;
		margin-bottom: 2rem;

		.card-det__more {
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			position: static;
		}
	}

	&__more {
		position: relative;
		height: 5.6rem;
		display: flex;
		input {
			opacity: 0;
			right: 0;
			top: 0;
			position: absolute;

			&:checked + .card-det__popup {
				opacity: 1;
				z-index: 2;
				transform: translateY(0);
			}

			&:checked ~ .card-det__more-icon {
				transform: rotate(180deg);
			}
		}
	}

	&__popup {
		width: 37.6rem;
		overflow-y: auto;
		opacity: 0;
		z-index: -1;
		transform: translateY(-3rem);
		transition: 0.3s ease-in-out;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;

		top: 100%;
		left: 0;
		position: absolute;
		padding: 2.4rem;
		padding-top: 2.2rem;
		padding-bottom: 2.2rem;
		border-radius: 0 0 3rem 3rem;
		border: 0.1rem solid #f1ded0;
		background: #fff9ee;
		box-shadow: 1.5rem 2.4rem 3.5rem 0 rgba(0, 0, 0, 0.07);

		&--select {
			width: 100%;

			.card-det__popup-item {
				border: none;
				gap: 2rem;
				padding: 0;
				span {
					width: 100%;
					cursor: pointer;
				}
			}

			input:checked + .card-det__item-title {
				font-weight: 700;
				line-height: 125%;
			}
		}
	}

	&__popup-list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		max-height: 43.3rem;
		overflow-y: auto;
		padding-right: 0.8rem;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;

		&::-webkit-scrollbar {
			width: 0.4rem;
			right: 2rem;
			padding-right: 2rem; /* Ширина скроллбара */
		}

		::-webkit-scrollbar-thumb {
			background-color: #fff9ee; /* Цвет ползунка скроллбара */
			border-radius: 0.4rem; /* Закругление углов ползунка */
		}

		::-webkit-scrollbar-thumb:hover {
			background-color: #555; /* Цвет ползунка при наведении */
		}

		/* Стилизация трека (бара, по которому передвигается ползунок) */
		&::-webkit-scrollbar-track {
			background-color: #fff9ee; /* Цвет трека скроллбара */
		}

		&::-webkit-scrollbar-track:hover {
			background-color: #ddd; /* Цвет трека при наведении */
		}
		scrollbar-width: thin; /* Ширина скроллбара */

		&::-webkit-scrollbar {
			width: 0.4rem; /* Ширина скроллбара для Firefox */
		}

		&::-webkit-scrollbar-thumb {
			background-color: #f1ded0; /* Цвет ползунка скроллбара для Firefox */
			border-radius: 0.4rem; /* Закругление углов ползунка для Firefox */
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #555; /* Цвет ползунка при наведении для Firefox */
		}

		&::-webkit-scrollbar-track {
			background-color: #fff9ee; /* Цвет трека скроллбара для Firefox */
		}

		&::-webkit-scrollbar-track:hover {
			background-color: #ddd;
		}
	}

	&__popup-item {
		display: flex;

		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 0.4rem;
		border-bottom: 0.1rem solid rgba(121, 121, 121, 0.2);

		span {
			width: 15.8rem;
		}

		&--list {
			border: none;
			padding: 0;

			span {
				width: 100%;
			}
		}
	}

	&__item-title {
		color: #29354d;
		text-align: left;
	}

	&__item-value {
		text-align: right;
		color: #797979;
	}

	&__stats-weight {
		position: relative;
		input {
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
		}

		input:checked + span {
			color: #29354d;
			font-family: Circe;
			font-size: 3rem;
			font-style: normal;
			font-weight: 700;
			line-height: 120%;
		}

		span {
			&:focus {
				outline: none;
			}

			color: #29354d;
			font-family: Circe;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			cursor: pointer;
			transition: 0.3s ease-in-out;
		}
	}

	&__price {
		margin-bottom: 4.3rem;
		display: flex;
		align-items: flex-end;
		gap: 0.7rem;
	}

	&__current-price-box {
		display: flex;
		align-items: flex-end;
		strong {
			display: block;
			color: #29354d;
			font-family: Circe;
			font-size: 3rem;
			font-style: normal;
			font-weight: 700;
			line-height: 120%;
		}

		span {
			display: block;
			margin-left: 0.6rem;
			color: #29354d;
			font-family: Circe;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.5;
		}
	}

	&__discount-price-box {
		display: flex;
		align-items: flex-end;
		margin-top: 0.5rem;
		position: relative;

		&::after {
			width: 100%;
			content: '';
			position: absolute;
			width: 100%;
			height: 0.1rem;
			background-color: #797979;
			top: 44%;
			transform: translateY(50%);
		}
		strong {
			display: block;
			color: #797979;
			font-family: Circe;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
		}

		span {
			display: block;
			margin-left: 0.4rem;
			color: #797979;
			font-family: Circe;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.6;
		}
	}
}

@media (hover: hover) {
	.controlls__count-btn:hover {
		transform: scale(1.3);
	}
	.controlls__count-btn:active {
		transform: scale(0.9);
	}
	.card-det__popup-point:hover .card-det__popup {
		opacity: 1;
		z-index: 2;
		transform: translateY(0);
	}
}
