.carrer-vacancies {
<<<<<<< HEAD
<<<<<<< HEAD
    &__heading {
        margin-bottom: 4.2rem;
    }
=======
	&__heading {
		margin-bottom: 4.2rem;
	}
>>>>>>> df18357 (feat: update from remote)
=======
    &__heading {
        margin-bottom: 4.2rem;
    }
>>>>>>> 89b79b4 (feat: update from main remote)
}
