.carrer-vacancies {
<<<<<<< HEAD
    background-color: $light;

=======
<<<<<<< HEAD
>>>>>>> 021b322 (feat: update from remote)
    &__heading {
        margin-bottom: 4.2rem;
    }
=======
	&__heading {
		margin-bottom: 4.2rem;
	}
>>>>>>> df18357 (feat: update from remote)
}
