.carrer-banner {
<<<<<<< HEAD
    margin-top: 14rem;
    height: 78rem;
    position: relative;
    text-align: center;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__btn {
        position: absolute;
        top: 45.5rem;
        left: 50%;
        transform: translateX(-50%);
        color: $light;
        border-color: $light;
    }
=======
	margin-top: 14rem;
	height: 78rem;
	position: relative;
	text-align: center;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		z-index: -1;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		z-index: -1;
	}

	&__btn {
		position: absolute;
		top: 45.5rem;
		left: 50%;
		transform: translateX(-50%);
		color: $light;
		border-color: $light;
	}
>>>>>>> df18357 (feat: update from remote)
}
