.catalog-hero {
    position: relative;

    &__text {
        position: absolute;
        top: 34.4rem;
        left: 16rem;
    }

    &__heading {
        margin-bottom: 4.5rem;
    }

    &__swiper {
        width: 100%;
        max-width: 192rem;
        height: 90rem;

        &-slide {
            width: 100%;
            height: 100%;
            position: relative;

            &__img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
            }
        }

        .swiper-controllers {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
}
