.catalog-card-1 {
	padding: 0 1.75rem;
	width: 37.4rem;
	position: relative;

	&--big {
		.catalog-card-1__descr {
			height: 72rem;
		}

		.catalog-card-1__info {
			height: 39.5rem;
			padding: 6rem 4rem;
		}
	}

	&__img {
		width: 100%;
		display: block;
		position: absolute;
		height: 37.4rem;
		z-index: 3;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 20.8rem;
		padding: 3rem;
	}

	&__descr {
		height: 58.3rem;

		border-radius: 0 0 5rem 5rem;
		border: 0.15rem solid $line;
		max-width: 37.4rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 2;
		display: flex;
		flex-direction: column;
		background: url('../images/background-8.webp') bottom center/cover no-repeat
			$biege;
	}

	&__imgless {
		width: 100%;
		min-height: 37.5rem;
    height: 37.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 0.1rem solid #fff9ee;

		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 19.8rem;

			span {
				color: #35415C;
				font-family: Circe;
				font-size: 1.8rem;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0.09rem;
				text-transform: uppercase;
				margin-bottom: 1.6rem;
			}

			strong {
				color: #35415C;
				text-align: center;
				font-family: Circe;
				font-size: 2rem;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
			}
		}
	}

	&__title {
		max-width: 31.4rem;
		text-align: start;
	}

	&__add-to-cart {
		left: auto;
		top: auto;
		bottom: 2rem;
		right: 2rem;
		cursor: pointer;
	}

	&__info-block {
		display: flex;
		width: 51rem;
		border-radius: 0px 0px 5rem 5rem;
		flex-direction: column;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		background: url('../images/svg/card-1-backgrnd-big.svg') top left/cover
			no-repeat $biege;
		padding: 6rem 4rem;
		gap: 1.6rem;

		&-title {
			font-family: 'Circe';
			font-size: 2.2rem;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			text-transform: uppercase;
		}
	}

	&__info-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__info-item {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		span {
			display: block;
			color: #797979;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
		}

		strong {
			display: block;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 125%;
		}
	}

	&__info-price {
		margin-left: auto;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
	}

	&__link {
		padding-top: 1.4rem;
		margin-left: auto;
		border-bottom: 0.1rem solid #35415C;
		transition: 0.2s ease-in-out;
		span {
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			letter-spacing: 0.09rem;
			text-transform: uppercase;
		}
	}

	@media (max-width: 48em) {
		& {
			width: auto;
			flex: 0 0 32.8rem;
			display: flex;
			align-items: stretch;

			&__img {
				height: 32.8rem !important;
			}

			&__imgless {
				height: 32.8rem;
				min-height: 32.8rem;
			}

			&__descr {
				height: auto;
			}

			&__info {
				height: 100%;
				padding: 4rem 2rem;
			}

			&__title {
				font-size: 2.7rem;
				margin: 0 0 8rem 0;
			}

			.catalog-card__price {
				margin-bottom: 1.5rem;
			}
		}
	}
}

// .catalog-card-1__img {
// 	height: 37.4rem;
// }

@media (max-width: 48em) {
	.catalog-main-block.cakes {
		.catalog-card-1 {
			&__imgless {
				height: 31.7rem;
				min-height: 31.7rem;
			}

			&__title {
				margin-bottom: 0rem;
			}

			&__weight {
				top: -9rem;
			}
		}
	}

	.catalog-card-1__img.three-card-img {
		height: 50.8rem !important;
	}
}

@media (hover: hover) {
	.catalog-card-1__link:hover {
		color: #e3bca0;
		border-color: #e3bca0;
	}
}

