.catalog-main-block {
<<<<<<< HEAD
    background-color: $light;
    padding-bottom: 0;

    &:nth-child(2) {
        padding-top: 8rem;
    }
}
.catalog-main-block__container {
    display: flex;
    flex-direction: column;
}
.catalog-main-block__title {
    margin: 0 0 5rem 0;
}
.catalog-main-block__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.75rem 5rem -1.75rem;
    row-gap: 3.5rem;
}
.catalog-main-block__more {
    margin: 0 0 0 auto;
}

@media (max-width: 48em) {
    .catalog-main-block__title {
        margin: 0 0 8rem 0;
    }
    .catalog-main-block__row {
        margin: 0 0rem 6.4rem 0rem;
        row-gap: 4.8rem;
    }
=======
	margin: 0 0 15rem 0;

	&__container {
		display: flex;
		flex-direction: column;
	}
	&__title {
		margin: 0 0 5rem 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.75rem 5rem -1.75rem;
	}
	&__more {
		margin: 0 0 0 auto;
	}
>>>>>>> 1f8385f (feat: desktop away.html is done)
}
