.catalog {
  &__content-box {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5rem;
      gap: 4.7rem 3.45rem;
  }

  &-det {
    padding-top: 14.4rem;
    background-color: #FFF9EE;

    section.light-section-clear.card-det-section {
      background-image: none;
    }
  }

  .section {
      padding: 0;
      padding-bottom: 15rem;

      &:nth-child(2) {
          padding-top: 8rem;
      }
  }

  .heading2 {
    line-height: 6.2rem;
  }
}