.catalog-main-block {
	margin: 0 0 15rem 0;

	&__container {
		display: flex;
		flex-direction: column;
	}
	&__title {
		margin: 0 0 5rem 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1.75rem 5rem -1.75rem;
	}
	&__more {
		margin: 0 0 0 auto;
	}
}
