.catalog-main-banner {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 89b79b4 (feat: update from main remote)
    background-color: $light;

    &:nth-child(2) {
        padding-top: 8rem;
    }
}
.catalog-main-banner__container {
    display: flex;
}
.catalog-main-banner__left-part {
    background: $darkBlue;
    position: relative;
    padding: 6rem 6rem 12rem 6rem;
    max-width: 81.7rem;
    border-radius: 0 0 0 5rem;
}
.catalog-main-banner__title {
    color: $light;
    margin: 0 0 4.5rem 0;
}
.catalog-main-banner__subtitle {
    color: $brightHeadlines;
    margin: 0 0 4.5rem 0;
}
.catalog-main-banner__text {
    color: $light;
    font-size: 2rem;
    line-height: 2.5rem; /* 25px */
}
.catalog-main-banner__text-part {
    &:not(:last-child) {
        margin: 0 0 2rem 0;
    }
}
.catalog-main-banner__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 93.8rem;
    height: auto;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.catalog-main-banner__right-photo {
    position: relative;
    max-width: 78.3rem;
    height: auto;
    border-radius: 0 0 5rem 0;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }
}
.catalog-main-banner__play-btn {
    position: absolute;
    top: 25.1rem;
    left: 34.8rem;
    max-width: 8.8rem;
    height: auto;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 48em) {
    .catalog-main-banner__container {
        flex-direction: column;
    }
    .catalog-main-banner__left-part {
        padding: 12rem 4rem 8rem 4rem;
        max-width: none;
        border-radius: 0 0 0 0;
    }
    .catalog-main-banner__title {
        margin: 0 0 8rem 0;
    }
    .catalog-main-banner__subtitle {
        margin: 0 0 4rem 0;
    }
    .catalog-main-banner__text {
        font-size: 2.8rem;
        line-height: 3.92rem;
    }
    .catalog-main-banner__text-part {
        &:not(:last-child) {
            margin: 0 0 4rem 0;
        }
    }
    .catalog-main-banner__background {
        max-width: 71rem;
        margin: 0 0 0 0;
    }
    .catalog-main-banner__right-photo {
        max-width: 71rem;
        border-radius: 0 0 7.2rem 7.2rem;
        overflow: hidden;
    }
    .catalog-main-banner__play-btn {
        max-width: 12rem;
        top: 21.6rem;
        left: 29.6rem;
    }
<<<<<<< HEAD
=======
	background-color: $light;
}
.catalog-main-banner__container {
	display: flex;
}
.catalog-main-banner__left-part {
	background: $darkBlue;
	position: relative;
	padding: 6rem 6rem 12rem 6rem;
	max-width: 81.7rem;
	border-radius: 0 0 0 5rem;
}
.catalog-main-banner__title {
	color: $light;
	margin: 0 0 4.5rem 0;
}
.catalog-main-banner__subtitle {
	color: $brightHeadlines;
	margin: 0 0 4.5rem 0;
}
.catalog-main-banner__text {
	color: $light;
	font-size: 2rem;
	line-height: 2.5rem; /* 25px */
}
.catalog-main-banner__text-part {
	&:not(:last-child) {
		margin: 0 0 2rem 0;
	}
}
.catalog-main-banner__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 93.8rem;
	height: auto;
	& img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
}
.catalog-main-banner__right-photo {
	position: relative;
	max-width: 78.3rem;
	height: auto;
	border-radius: 0 0 5rem 0;
	& img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
		border-radius: inherit;
	}
}
.catalog-main-banner__play-btn {
	position: absolute;
	top: 25.1rem;
	left: 34.8rem;
	max-width: 8.8rem;
	height: auto;
	& img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		   object-fit: cover;
	}
}

@media (max-width: 48em) {
	.catalog-main-banner {
		margin: 0 0 18rem 0;
	}
	.catalog-main-banner__container {
		flex-direction: column;
	}
	.catalog-main-banner__left-part {
		padding: 12rem 4rem 8rem 4rem;
		max-width: none;
		border-radius: 0 0 0 0;
	}
	.catalog-main-banner__title {
		margin: 0 0 8rem 0;
	}
	.catalog-main-banner__subtitle {
		margin: 0 0 4rem 0;
	}
	.catalog-main-banner__text {
		font-size: 2.8rem;
		line-height: 3.92rem;
	}
	.catalog-main-banner__text-part {
		&:not(:last-child) {
			margin: 0 0 4rem 0;
		}
	}
	.catalog-main-banner__background {
		max-width: 71rem;
		margin: 0 0 0 0;
	}
	.catalog-main-banner__right-photo {
		max-width: 71rem;
		border-radius: 0 0 7.2rem 7.2rem;
		overflow: hidden;
	}
	.catalog-main-banner__play-btn {
		max-width: 12rem;
		top: 21.6rem;
		left: 29.6rem;
	}
>>>>>>> df18357 (feat: update from remote)
=======
>>>>>>> 89b79b4 (feat: update from main remote)
}
