.catalog-card-2 {
	max-width: 100%;
	position: relative;
	max-height: 74.8rem;
	height: 74.8rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 37.4rem;

	.catalog-card__price {
		margin-top: auto;
	}

	&__imgless {
		border-bottom: 0.4rem solid #fff9ee;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: $biege;
		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 19.8rem;

			span {
				color: #35415c;
				font-family: Circe;
				font-size: 1.8rem;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0.09rem;
				text-transform: uppercase;
				margin-bottom: 1.6rem;
			}

			strong {
				color: #35415c;
				text-align: center;
				font-family: Circe;
				font-size: 2rem;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
			}
		}
	}
}
.catalog-card-2__img {
	width: 100%;
	width: 37.4rem;
	height: 37.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;

	& img {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		z-index: 2;
	}
}

.catalog-card-2 {
	.catalog-card__main-price {
		line-height: 140%;
	}

	&__weight-wrapper {
		margin: 0;
		padding: 1.4rem 2.4rem;
	}
	&__details {
		opacity: 0;
		overflow: hidden;
		transition: 0.7s;
		max-height: 0rem;
		height: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__details-stats {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__details-item {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		span {
			color: #797979;
		}

		strong {
			font-weight: 400;
		}
	}
}

.catalog-card-2__price-package {
	position: relative;
	left: -0.2rem;
	top: 0.2rem;
}

.catalog-card__sale {
	margin-top: auto;
}

.catalog-card-2__descr {
	transition: 0.5s;
	min-height: 37.7rem;
	padding: 3rem;
	padding-bottom: 4rem;
	min-height: 37.7rem;
	display: flex;
	flex-direction: column;
	z-index: 3;
	border-radius: 0 0 5rem 5rem;
	border: 0.15rem solid $line;
	background: url('../images/background-10.webp') top center/cover no-repeat
		$biege;
}
.catalog-card-2__title {
	margin: 0 0 3rem;
}
.catalog-card-2__characteristics {
	font-size: 1.8rem;
	line-height: 3rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem 1.6rem;
	margin: 0 0 3rem;
	width: 32rem;
	position: relative;
}
.catalog-card-2__characteristic {
}
.catalog-card-2__characteristic-text {
}
.catalog-card-2__characteristic-lines {
	display: flex;
	& span {
		display: block;
		width: 4.65rem;
		height: 0.4rem;
		background: $light;
	}
	& span:not(:last-child) {
		margin: 0 0.3rem 0 0;
	}
	& span.active {
		background: $darkBlue;
	}
}
.catalog-card-2__weights {
	display: flex;
	align-items: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 auto;
	margin-bottom: 2.4rem;
	position: relative;
	height: 5rem;

	label {
		display: flex;
		height: 5rem;
		padding: 1.4rem 2.4rem;
		justify-content: center;
		align-items: center;
	}

	input {
		position: absolute;
		top: 0;
		right: 0;
		pointer-events: none;
		opacity: 0;
	}

	input:checked + .catalog-card-2__weight {
		color: #35415c;
		font-size: 2.2rem;
		font-weight: 700;
		line-height: 2.8rem;
		color: $darkBlue;

		span {
			color: #35415c;
			line-height: 120%;
			letter-spacing: 0.11rem;
		}
	}
}
.catalog-card-2__weight {
	font-size: 1.8rem;
	line-height: 2.5rem;
	color: $darkGrey;
	transition: 0.2s ease-in-out;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.catalog-card-2__add-to-cart {
	top: auto;
	left: auto;
	bottom: 3rem;
	cursor: pointer;
	right: 2rem;
}



// @media (max-width: 48em) {
// 	.catalog-card-2 {
// 		flex: 0 1 100%;
// 		padding: 0;
// 		max-width: none;
// 		&:not(:last-child) {
// 			margin: 0 0 4.8rem 0;
// 		}
// 	}
// 	.catalog-card-2__img {
// 		max-width: 71rem;
// 	}
// 	.catalog-card-2__descr {
// 		max-width: none;
// 		padding: 6.8rem 4rem;
// 		border-radius: 0 0 7.2rem 7.2rem;
// 		border: 0.3rem solid $line;
// 	}
// 	.catalog-card-2__title {
// 		margin: 0 0 6rem 0;
// 	}
// 	.catalog-card-2__characteristics {
// 		font-size: 2.8rem;
// 		line-height: 3.92rem;
// 		gap: 3.2rem;
// 		margin: 0 0 8.9rem 0;
// 		width: 63rem;
// 	}
// 	.catalog-card-2__characteristic-lines {
// 		& span {
// 			width: 7.025rem;
// 			height: 0.8rem;
// 		}
// 		& span:not(:last-child) {
// 			margin: 0 0.6rem 0 0;
// 		}
// 	}
// 	.catalog-card-2__weights {
// 		padding: 0 7.5rem;
// 		margin: 0 0 8.1rem 0;
// 	}
// 	.catalog-card-2__weight {
// 		font-size: 2.8rem;
// 		line-height: 3.92rem;
// 		transition: 0.3s;
// 		&:not(:last-child) {
// 			margin: 0 13.8rem 0 0;
// 		}
// 		&.active {
// 			font-size: 3.6rem;
// 			line-height: 5.4rem;
// 			& span {
// 				letter-spacing: 0.108rem;
// 			}
// 		}
// 	}
// 	.catalog-card-2__add-to-cart {
// 		top: 55rem;
// 		left: 56.6rem;
// 	}
// }

@media (hover: hover) {
	.catalog-card-2:hover {
		.catalog-card-2__details {
			max-height: 39.8rem;
			opacity: 1;
			height: 39.8rem;
			padding-bottom: 3rem;
		}
	}
}

@media (max-width: 48em) {
	.catalog-card-2 {
		flex: 0 1 47%;
		width: auto;
		height: 92.7rem;
		max-height: none;

		&__img {
			width: 100%;
			height: 32.4rem;

			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		&__descr {
			padding: 2rem 2rem 4rem 2rem;
		}

		&__characteristics {
			width: auto;
			font-size: 2.8rem;

			.catalog-card-2__characteristic {
				&-lines {
					span {
						width: 9.34rem;
						height: 0.8rem;	
					}
				}
			}
		}

		&__title {
			font-size: 2.8rem;
		}

		&__weights {
			justify-content: space-between;
			margin: 0 0 2.4rem 0;
			width: 100%;

			.catalog-card-2__weight {
				font-size: 2.8rem;
			}

			input:checked + .catalog-card-2__weight {
				font-size: 3.6rem;
			}

			label {
				padding: 0;
			}
		}

		.catalog-card__price {
			margin-top: 4.4rem;
		}

		.catalog-card__main-price {
			margin: 0 0 1.6rem 0;
		}

		.catalog-card__sale {
			flex-direction: column;
			align-items: flex-start;

			&-price {
				line-height: 120%;

				span {
					line-height: normal;
				}
			}

			.catalog-card__weight {
				align-self: flex-start;
			}
		}

		.catalog-card__add-to-cart {
			bottom: 4rem;
			right: 2rem;
		}
	}
}
