.category-block {
	width: 100%;
	min-width: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__value {
		&-wrapper {
			position: relative;
		}
		&-hidden {
			opacity: 0;
			padding-left: 3rem;
			padding-right: 3rem;
			white-space: nowrap;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
		}
		&-show {
			white-space: nowrap;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__btn {
		
		&-left {
			// padding-right: 3rem;
			svg {
				width: 2.8rem;
				fill: #35415c;
			}
			
		}

		&-right {
			// padding-left: 3rem;
			svg {
				width: 2.8rem;
				fill: #35415c;
			}
			
		}
	}

	&__swiper {
		&.temporary-fix {
			width: 95%;
			padding: 0 5rem;
		}
	}

	.swiper {
		overflow: hidden;
		width: 150.5rem;
		z-index: 10;

		&-slide.active {
			.category-block__value-show {
				font-size: 3rem;
				font-style: normal;
				font-weight: 700;
				line-height: 1;
			}
		}
	}
	.swiper-wrapper {
		padding-right: 10rem;
	}

	&__item {
		cursor: pointer;
		position: relative;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		color: #35415C;
		display: flex;
		text-align: center;
		height: 3.6rem;
		align-items: center;

		span {
			font-family: Circe;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			transition: 0.2s ease-in-out;
			text-align: center;

			display: flex;
			justify-content: center;
			align-items: center;
		}

		label {
			position: relative;
		}

		input {
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			pointer-events: none;
		}

		// input:checked + .category-block__value-wrapper .category-block__value-show {
		// 	font-size: 3rem;
		// 	font-style: normal;
		// 	font-weight: 700;
		// 	line-height: 1;
		// }
	}

	@media (max-width: 48em) {
		&__swiper {
			&.temporary-fix {
				width: 95%;
				padding: 0 5rem;

				.category-block__value-hidden {
					padding-left: 3rem;
					padding-right: 3rem;
				}
			}
		}

		.swiper-slide {
			.category-block__value-show {
				font-size: 2.8rem;
				line-height: 140%; /* 3.92rem */
			}

			&.active {
				.category-block__value-show {
					font-size: 4rem;
					line-height: 120%; /* 4.8rem */
				}
			}
		}
	}
}
