.catalog-card-1 {
	padding: 0 1.75rem;
	width: 37.4rem;
	position: relative;

	&--big {
		.catalog-card-1__descr {
			height: 72rem;
		}

		.catalog-card-1__info {
			height: 39.5rem;
			padding: 6rem 4rem;
		}
	}

	&__img {
		width: 100%;
		height: auto;
		display: block;
		position: absolute;
		height: 32.5rem;
		z-index: 3;
		& img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 20.8rem;
		padding: 3rem;
	}

	&__descr {
		height: 53.3rem;

		border-radius: 0 0 5rem 5rem;
		border: 0.15rem solid $line;
		max-width: 37.4rem;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 2;
		display: flex;
		flex-direction: column;
		background: url('../images/svg/card-1-bg.svg') top left/cover no-repeat
			$biege;
	}

	&__imgless {
		width: 100%;
		height: 32.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 0.1rem solid #fff9ee;

		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 19.8rem;

			span {
				color: #29354d;
				font-family: Circe;
				font-size: 1.8rem;
				font-style: normal;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 0.09rem;
				text-transform: uppercase;
				margin-bottom: 1.6rem;
			}

			strong {
				color: #29354d;
				text-align: center;
				font-family: Circe;
				font-size: 2rem;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
			}
		}
	}

	&__title {
		max-width: 31.4rem;
	}

	&__add-to-cart {
		left: auto;
		top: auto;
		bottom: 2rem;
		right: 2rem;
		cursor: pointer;
	}

	&__info-block {
		display: flex;
		width: 51rem;
		border-radius: 0px 0px 5rem 5rem;
		flex-direction: column;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		background: url('../images/svg/card-1-backgrnd-big.svg') top left/cover
			no-repeat $biege;
		padding: 6rem 4rem;
		gap: 1.6rem;

		&-title {
			font-family: Circe;
			font-size: 2.2rem;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			text-transform: uppercase;
		}
	}

	&__info-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__info-item {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		span {
			display: block;
			color: #797979;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
		}

		strong {
			display: block;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 125%;
		}
	}

	&__info-price {
		margin-left: auto;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 120%;
	}

	&__link {
		padding-top: 1.4rem;
		margin-left: auto;
		border-bottom: 0.1rem solid #29354d;
		transition: 0.2s ease-in-out;
		span {
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			letter-spacing: 0.09rem;
			text-transform: uppercase;
		}
	}

	@media (max-width: 48em) {
		& {
			width: auto;
			flex: 0 1 47%;

			&__descr {
				height: auto;
			}

			&__info {
				height: auto;
				padding: 4rem 2rem;
			}

			&__title {
				font-size: 2.8rem;
				margin: 0 0 10rem 0;
			}
		}
	}
}

// @media (max-width: 48em) {
// 	.catalog-card-1 {
// 		flex: 0 1 47%;

// 		&__img {
// 			width: 32.8rem;
// 			height: 33rem !important;

// 			img {
// 				width: 100%;
// 				height: 100%;
// 				object-fit: cover;
// 			}
// 		}

// 		&__descr {
// 			height: auto;
// 		}

// 		&__info {
// 			height: auto;
// 			padding: 4rem 2rem;
// 		}

// 		&__title {
// 			font-size: 2.8rem;
// 			letter-spacing: 0.084rem;
// 			line-height: 120%;
// 			margin: 0 0 10.1rem 0;
// 		}

// 		&__imgless {
// 			height: 33rem;
// 		}

// 		.catalog-card-1__add-to-cart {
// 			bottom: 4rem;
// 			right: 2rem;
// 		}
// 	}
// 	.catalog-card-1__descr {
// 		padding: 6rem 4rem 4rem 4rem;
// 		border-radius: 0 0 7.2rem 7.2rem;
// 		border: 0.3rem solid $line;
// 		max-width: none;
// 	}
// 	.catalog-card-1__title {
// 		max-width: 52rem;
// 		margin: 0 0 4rem 0;
// 	}
// 	.catalog-card-1__add-to-cart {
// 		left: 56.6rem;
// 		top: 22rem;
// 	}
// }

@media (hover:hover) {
	.catalog-card-1__link:hover {
		color: #E3BCA0;
		border-color: #E3BCA0;
	}
	
}
