.catalog-card__add-to-cart {
	position: absolute;
	border-radius: 100rem;
	bottom: 2rem;
	right: 2rem;
	width: 7rem;
	height: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $light;
	transition: 0.2s ease-in-out;
	& img {
			width: 2.8rem;
			height: 2.8rem;
			-o-object-fit: cover;
			   object-fit: cover;
	}
}

@media (max-width: 48em) {
	.catalog-card__add-to-cart {
			width: 10.4rem;
			height: 10.4rem;
			& img {
					width: 4.8rem;
					height: 4.8rem;
			}
	}
}

@media (hover:hover) {
	.catalog-card__add-to-cart:hover {
		background-color: rgba(230, 175, 154, 1);
	}
}