<<<<<<< HEAD
=======
.catalog-card-2 {
	flex: 0 1 25%;
	padding: 0 1.75rem;
	max-width: 40.875rem;
}
.catalog-card-2__img {
	max-width: 37.4rem;
	height: auto;
	& img {
			width: 100%;
			height: 100%;
	}
}
.catalog-card-2__descr {
	max-width: 37.4rem;
	position: relative;
	padding: 3rem;
	border-radius: 0 0 5rem 5rem;
	border: 0.15rem solid $line;
	background: url('../images/svg/card-2-backgrnd.svg') top left/cover no-repeat $biege
}
.catalog-card-2__title {
	margin: 0 0 3rem 0;
}
.catalog-card-2__characteristics {
	font-size: 1.8rem;
	line-height: 2.5rem; 
	display: flex;
	flex-wrap: wrap;
	gap: 1.6rem;
	margin: 0 0 4.2rem 0;
	width: 32rem;
	position: relative;
}
.catalog-card-2__characteristic {
}
.catalog-card-2__characteristic-text {
}
.catalog-card-2__characteristic-lines {
	display: flex;
	& span {
			display: block;
			width: 3.4rem;
			height: 0.4rem;
			background: $light;
	}
	& span:not(:last-child) {
			margin: 0 0.3rem 0 0;
	}
	& span.active {
			background: $darkBlue;
	}
}
.catalog-card-2__weights {
	display: flex;
	align-items: center;
	padding: 0 2.7rem;
	margin: 0 0 3.5rem 0;
}
.catalog-card-2__weight {
	font-size: 1.8rem;
	line-height: 2.5rem;
	color: $darkGrey;
	transition: 0.3s;
	&:not(:last-child) {
			margin: 0 4.8rem 0 0;
	}
	&.active {
			font-size: 2.2rem;
			font-weight: 700;
			line-height: 2.8rem; 
			color: $darkBlue;
			& span {
					line-height: 120%;
					letter-spacing: 0.11rem;
			}
	}
}
.catalog-card-2__add-to-cart {
	top: 27.4rem;
	left: 28.4rem;
}

@media (max-width: 48em) {
	.catalog-card-2 {
			flex: 0 1 100%;
			padding: 0;
			max-width: none;
			&:not(:last-child) {
					margin: 0 0 4.8rem 0;
			}
	}
	.catalog-card-2__img {
			max-width: 71rem;
	}
	.catalog-card-2__descr {
			max-width: none;
			padding: 6.8rem 4rem;
			border-radius: 0 0 7.2rem 7.2rem;
			border: 0.3rem solid $line;
	}
	.catalog-card-2__title {
			margin: 0 0 6rem 0;
	}
	.catalog-card-2__characteristics {
			font-size: 2.8rem;
			line-height: 3.92rem; 
			gap: 3.2rem;
			margin: 0 0 8.9rem 0;
			width: 63rem;
	}
	.catalog-card-2__characteristic-lines {
			& span {
					width: 7.025rem;
					height: 0.8rem;
			}
			& span:not(:last-child) {
					margin: 0 0.6rem 0 0;
			}
	}
	.catalog-card-2__weights {
			padding: 0 7.5rem;
			margin: 0 0 8.1rem 0;
	}
	.catalog-card-2__weight {
			font-size: 2.8rem;
			line-height: 3.92rem;
			transition: 0.3s;
			&:not(:last-child) {
					margin: 0 13.8rem 0 0;
			}
			&.active {
					font-size: 3.6rem;
					line-height: 5.4rem; 
					& span {
							letter-spacing: 0.108rem;
					}
			}
	}
	.catalog-card-2__add-to-cart {
			top: 55rem;
			left: 56.6rem;
	}
<<<<<<< HEAD
}
<<<<<<< HEAD
>>>>>>> df18357 (feat: update from remote)
<<<<<<< HEAD
>>>>>>> 021b322 (feat: update from remote)
=======
=======
}
>>>>>>> 89b79b4 (feat: update from main remote)
<<<<<<< HEAD
>>>>>>> c38f3e1 (feat: update from main remote)
=======
=======

@media (hover: hover) {
	.catalog-card-2:hover {
		.catalog-card-2__details {
			max-height: 32.7rem;
			opacity: 1;
			height: 32.7rem;
			padding-bottom: 3rem;
		}
	}
}
>>>>>>> c1d57f6 (feat: change grain-coffee page)
>>>>>>> fe00892 (feat: change grain-coffee page)
=======
}
>>>>>>> f23ac42 (feat: change files after rebase)
