.catalog-card-1 {
    flex: 0 1 25%;
    padding: 0 1.75rem;
}
.catalog-card-1__img {
    max-width: 37.4rem;
    height: auto;
    & img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}
.catalog-card-1__descr {
    padding: 3rem;
    border-radius: 0 0 5rem 5rem;
    border: 0.15rem solid $line;
    max-width: 37.4rem;
    position: relative;
    background: url("../images/svg/card-1-backgrnd.svg") top left/cover no-repeat $biege;
}
.catalog-card-1__title {
    max-width: 31.4rem;
    margin: 0 0 2rem 0;
}
.catalog-card-1__add-to-cart {
    top: 11.8rem;
    left: 28.4rem;
}

@media (max-width: 48em) {
    .catalog-card-1 {
        flex: 0 1 100%;
        padding: 0;
        &:not(:last-child) {
            margin: 0 0 5rem 0;
        }
    }
    .catalog-card-1__img {
        max-width: 71rem;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    .catalog-card-1__descr {
        padding: 6rem 4rem 4rem 4rem;
        border-radius: 0 0 7.2rem 7.2rem;
        border: 0.3rem solid $line;
        max-width: none;
    }
    .catalog-card-1__title {
        max-width: 52rem;
        margin: 0 0 4rem 0;
    }
    .catalog-card-1__add-to-cart {
        left: 56.6rem;
        top: 22rem;
    }
}