.categories-section {
	&__heading {
		margin-bottom: 3.5rem;
	}

	&__list {
		display: grid;
		grid-gap: 3.2rem 3.5rem;
		grid-template-areas:
			'A A B B'
			'A A C D';
		grid-template-columns: repeat(4, 37.5rem);
		grid-template-rows: 24.6rem;

		&-item__text {
			background: url('../images/background-1.webp') center/cover no-repeat,
				$darkBlue;
			height: 100%;
		}
		&-item {
			&:nth-child(1) {
				grid-area: A;

				.categories-section__list-item__img {
					width: 100%;
					height: 29.4rem;
					img {
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
					}
				}

				.categories-section__list-item__text {
					height: 26.1rem;
					&-description {
						width: 32.3rem;
					}
				}
			}

			&:nth-child(2) {
				grid-area: B;
				display: flex;
				height: 100%;

				.categories-section__list-item__img {
					width: 41.2rem;
					height: 24.6rem;
					border-radius: 0 0 5rem 0;
					overflow: hidden;

					img {
						width: 100%;
						height: 100%;
						-o-object-fit: cover;
						object-fit: cover;
					}
				}

				.categories-section__list-item__text {
					border-radius: 0 0 0 5rem;
					width: 37.1rem;
					min-height: 100%;
					&-description {
						width: 26rem;
					}
				}
			}

			&:nth-child(3) {
				grid-area: C;
				.categories-section__list-item__text {
					&-description {
						width: 26rem;
					}
				}
			}

			&:nth-child(4) {
				grid-area: D;
				.categories-section__list-item__text {
					&-description {
						width: 26rem;
					}
				}
			}

			&__text {
				padding: 5rem 3rem;
				position: relative;
				min-height: 26rem;

				border-radius: 0 0 5rem 5rem;

				&-heading {
					margin-bottom: 1.2rem;
					color: $brightHeadlines;
				}

				&-description {
					color: $light;
				}
			}

			&__link {
				position: absolute;
				bottom: 2rem;
				right: 2rem;
				z-index: 2;
			}
		}
	}

	@media (max-width: 48em) {
		&__heading {
			margin-bottom: 8rem;
		}

		&__list {
			display: block;

			&-item__text {
				background-image: url('../images/background-1-mobile.webp');
				background-size: cover;
				background-position: center;
			}

			&-item {
				&:not(:last-child) {
					margin-bottom: 4.8rem;
				}

				&:nth-child(1) {
					.categories-section__list-item__img {
						height: 57rem;
					}

					.categories-section__list-item__text {
						&-description {
							width: 41rem;
						}
					}
				}

				&:nth-child(2) {
					display: block;

					.categories-section__list-item__text {
						border-radius: 0 0 7.2rem 7.2rem;
						width: 100%;

						&-description {
							width: 41rem;
						}
					}
				}

				&:nth-child(3) {
					.categories-section__list-item__text {
						&-description {
							width: 41rem;
						}
					}
				}

				&:nth-child(4) {
					.categories-section__list-item__text {
						&-description {
							width: 41rem;
						}
					}
				}

				&__text {
					padding: 8rem 4rem;
					min-height: 46rem;
					border-radius: 0 0 7.2rem 7.2rem;

					&-description {
						width: 41rem;
					}
				}

				&__link {
					bottom: 8rem;
					right: 4rem;

					svg {
						display: none;
					}
				}
			}
		}
	}
}
