.chronology {
	background-color: $darkBlue;
	color: $light;

	&__container {
		position: relative;
		padding-bottom: 24rem;
		background-image: url(../images/about-border-1.webp),
			url(../images/about-border-2.webp), url(../images/about-border-3.webp),
			url(../images/about-border-4.webp);
		background-size: 12.9rem;
		background-repeat: no-repeat;
		background-position: top left, top right, bottom left, bottom right;
	}

	&__borders {
		&-item {
			position: absolute;
			width: 12.2rem;
			height: 12.9rem;
			-o-object-fit: contain;
			object-fit: contain;

			&.top-left {
				top: 0;
				left: 0;
			}

			&.top-right {
				top: 0;
				right: 0;
			}

			&.bottom-left {
				bottom: 0;
				left: 0;
			}

			&.bottom-right {
				bottom: 0;
				right: 0;
			}
		}
	}

	&__heading {
		margin-bottom: 26.5rem;
		text-align: center;
		color: $light;
	}

	&__timeline {
		position: relative;
		left: 2.2rem;

		&__img--mobile {
			width: 100% !important;
			height: 100% !important;
		}

		svg {
			width: 157.8rem;
			height: 16.4rem;
		}

		&-active {
			position: absolute;
			left: 25.5rem;
			top: 50%;
			transform: translateY(-50%);

			span {
				display: block;
				&:first-child,
				&:last-child {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					width: 0.7rem;
					height: 5rem;
					background-color: $light;
				}

				&:first-child {
					top: -5rem;
				}

				&:last-child {
					top: 100%;
				}

				&:nth-child(2) {
					width: 5rem;
					height: 5rem;
					background-color: $darkBlue;
					border: 0.7rem solid $light;
					border-radius: 50%;
				}
			}
		}

		&-list {
			position: absolute;

			display: flex;
			left: 10rem;
			top: -21.6rem;

			width: 100%;
			height: 100%;

			&__item {
				width: 27.5rem;
				height: 52rem;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;
				position: relative;
				color: $biege-btn;
				font-size: 4.5rem;
				font-weight: 700;
				line-height: 1;
				height: 52rem;

				&-arrow-wrapper {
					display: none;
				}

				& > .heading2 {
					display: none;
				}

				&:not(:first-child) {
					margin-left: -8.6rem;
				}

				&:hover {
					cursor: pointer;
					@media (hover: hover) {
						.chronology__timeline-list__item-year {
							color: $light;
						}

						svg {
							transform: scale(1.1);
							stroke: $light;
						}
					}
				}

				&.active {
					.chronology__timeline-list__item-static-icon {
						gap: 9rem;
					}

					.chronology__timeline-list__item-description,
					.chronology__timeline-list__item-bottom {
						opacity: 1;
						pointer-events: all;
						transform: translateY(0);
					}

					.chronology__timeline-list__item-year {
						color: $light;
						font-size: 7rem;
						font-style: normal;
						font-weight: 700;
						line-height: 100%;
					}
					.chronology__timeline-list__item-icon-wrapper {
						svg {
							transform: scale(1.25);
							stroke: $light;
						}

						&::after,
						&::before {
							background-color: $light;
							opacity: 1;
							max-height: 6rem;
						}
					}
				}

				&-year {
					color: $brightHeadlines;
				}

				&-bottom {
					margin-top: auto;
					display: flex;
					flex-direction: column;
					gap: 1.4rem;
					align-items: center;
					opacity: 0;
					touch-action: none;
					transition: 0.2s ease-in-out;
					transform: translateY(5rem);
				}

				&-description {
					margin-bottom: 2.5rem;
					color: $light;
					text-align: center;
					opacity: 0;
					position: absolute;
					top: 0;
					touch-action: none;
					transition: 0.2s ease-in-out;
					transform: translateY(-5rem);
					width: 38rem;
				}

				&-number {
					color: $light;
				}

				&-icon-wrapper {
					position: relative;
					width: 4rem;
					height: 4rem;
					z-index: 2;

					svg {
						transition: 0.2s ease-in-out;
						z-index: 3;
					}

					path {
						width: 100%;
						height: 100%;
					}

					&::after,
					&::before {
						position: absolute;
						content: '';
						width: 0.8rem;
						max-height: 0rem;
						height: 6rem;
						left: 50%;
						transform: translateX(-50%);
						background-color: rgb(230, 175, 154);
						transition: 0.2s ease-in-out;
						opacity: 0;
						z-index: 0;
					}

					&::after {
						bottom: 100%;
					}

					&::before {
						top: 100%;
					}
				}

				&-static-icon {
					display: flex;
					gap: 3.3rem;
					flex-direction: column;
					align-items: center;
					position: absolute;
					bottom: 20.2rem;
					cursor: pointer;
					transition: 0.2s ease-in-out;

					svg {
						width: 4rem;
						height: 4rem;
						position: relative;
					}
				}
			}
		}
	}

	&__info {
		position: absolute;
		left: 14rem;
		top: 10.5rem;
		width: 27.5rem;
		text-align: center;
		color: $light;

		&-description {
			margin-bottom: 3rem;
			color: $light;
		}

		&-year {
			margin-bottom: 24.5rem;
			color: $light;
		}

		&-number {
			margin-bottom: 1.4rem;
			color: $light;
		}
	}
}

@media (max-width: 48em) {
	.chronology {
		overflow: hidden;
		padding: 0;

		&-swiper {
			overflow: hidden;
		}

		&__container {
			padding-bottom: 0;
			background-image: none;

			& > p {
				display: none;
			}
		}

		&__timeline {
			left: 0;
			padding-top: 10rem;
			padding-bottom: 10rem;

			& > svg {
				display: none;
			}

			&-list {
				position: static;
				margin: 0 0 3.2rem 0;

				&__item {
					width: 100%;
					height: 66.8rem;
					display: flex;
					flex-direction: column;
					text-align: center;

					& > .heading2 {
						display: block;
					}

					&:not(:last-child) {
						margin: 0;
					}

					&:not(:first-child) {
						margin: 0;
					}

					&.active {
						.chronology__heading {
							display: none;
						}

						.chronology__timeline-list__item-icon-wrapper {
							path {
								stroke-width: 3;
							}
						}

						.chronology__timeline-list__item-year {
							font-size: 9rem;
						}

						// .chronology__timeline-list__item-arrow-wrapper {
						// 	top: 5rem;
						// }
					}

					&-description {
						font-size: 2.8rem;
						font-weight: 400;
						line-height: 140%;
						width: 65rem;
					}

					&-static-icon {
						bottom: 23.6rem;

						.chronology__timeline-list__item-icon-wrapper {
							position: absolute;
							top: -5rem;
							width: 7.2rem;
							height: 7.2rem;

							svg {
								width: 7.2rem;
								height: 7.2rem;
							}

							path {
								stroke-width: 5;
							}
						}

						.chronology__timeline-list__item-arrow-wrapper {
							width: 62.4rem;
							height: 22.8rem;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							top: -12.5rem;
							left: -31.4rem;
							overflow: hidden;

							.about-arrow-first-end-part {
								width: 18rem;
								height: 22.8rem;
							}

							.about-arrrow-first-middle-part {
								width: 36.2rem;
								height: 1.2rem;
							}

							.about-arrow-first-start-part {
								width: 8.8rem;
								height: 11.2rem;
							}

							.about-arrow-second-end-part {
								width: 50.4rem;
								height: 1.2rem;
							}

							.about-arrow-second-start-part {
								width: 8.8rem;
								height: 11.2rem;
							}
						}
					}

					&-year {
						font-size: 7.2rem;
						position: absolute;
						top: -23rem;
					}
				}
			}
		}

		&__swiper-pagination {
			position: static;

			.swiper-pagination-bullet {
				width: 3rem;
				height: 3rem;
				border-radius: 3rem;
				border: 0.2rem solid $biege-btn;
				background: none;
				opacity: 1;

				&:not(:last-child) {
					margin: 0 3.2rem 0 0;
				}

				&-active {
					background: $biege-btn;
				}
			}
		}
	}
}

