.chronology {
    background-color: $darkBlue;
    color: $light;

    &__container {
        position: relative;
        padding-bottom: 22.3rem;
    }

    &__borders {
        &-item {
            position: absolute;
            width: 12.2rem;
            height: 12.9rem;
            object-fit: contain;

            &.top-left {
                top: 0;
                left: 0;
            }

            &.top-right {
                top: 0;
                right: 0;
            }

            &.bottom-left {
                bottom: 0;
                left: 0;
            }

            &.bottom-right {
                bottom: 0;
                right: 0;
            }
        }
    }

    &__heading {
        margin-bottom: 25.5rem;
        text-align: center;
        color: $light;
    }

    &__timeline {
        position: relative;

        &-img {
            width: 161.8rem;
            height: 20.8rem;
            object-fit: contain;
        }

        &-active {
            position: absolute;
            left: 25.5rem;
            top: 50%;
            transform: translateY(-50%);

            span {
                display: block;
                &:first-child,
                &:last-child {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0.7rem;
                    height: 5rem;
                    background-color: $light;
                }

                &:first-child {
                    top: -5rem;
                }

                &:last-child {
                    top: 100%;
                }

                &:nth-child(2) {
                    width: 5rem;
                    height: 5rem;
                    background-color: $darkBlue;
                    border: 7px solid $light;
                    border-radius: 50%;
                }
            }
        }

        &-list {
            position: absolute;
            
            display: flex;
            left: 10rem;

            &__item {
                width: 27.5rem;
                height: 52rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                color: $biege-btn;
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 1;

                &:not(:first-child) {
                    margin-left: -10.4rem;
                }

                &-year {
                    margin-top: auto;
                    margin-bottom: 24.8rem;
                    color: $brightHeadlines;
                }

                &-description {
                    margin-bottom: 2.5rem;
                    color: $light;
                    text-align: center;
                }

                &-number {
                    margin-bottom: 1.4rem;
                }

                &.active {
                    color: $light;

                    .chronology__timeline-list__item-year {
                        color: $light;
                    }
                }
            }
        }
    }

    &__info {
        position: absolute;
        left: 14rem;
        top: 10.5rem;
        width: 27.5rem;
        text-align: center;
        color: $light;

        &-description {
            margin-bottom: 3rem;
            color: $light;
        }

        &-year {
            margin-bottom: 24.5rem;
            color: $light;
        }

        &-number {
            margin-bottom: 1.4rem;
            color: $light;
        }
    }
}
