.coffeeshops {
<<<<<<< HEAD
    background-color: $light;
    
    &__heading {
        margin-bottom: 5rem;
    }
=======
	background-color: $light;

	&__heading {
		margin-bottom: 5rem;
	}
>>>>>>> df18357 (feat: update from remote)
}
