.coffeeshops {
<<<<<<< HEAD
    background-color: $light;
    
    &__heading {
        margin-bottom: 5rem;
    }
=======
	background-color: $light;

	&__heading {
		margin-bottom: 5rem;
	}
>>>>>>> f23ac42 (feat: change files after rebase)
}
