$white: #ffffff;
$black: #383a39;
$light: #fff9ee;
$darkGrey: #797979;
$grey: #bababa;
$red: #51283f;
$green: #203d3c;
$blue: #67a7ac;
$darkBlue: #35415c;
$brightHeadlines: #e6af9a;
$biege: #f1ded0;
$biege-btn: #e3bca0;
$text: #fffcf8;
$background: #faf1ed;
$line: rgba(234, 194, 178, 0.25);
$grey20: rgba(121, 121, 121, 0.2);
$white20: rgba(255, 255, 255, 0.2);

.text-gray {
	color: #797979;
}

.text-white {
	color: #fff9ee;
}

.text-gold {
	color: #e6af9a;
}

.biege-section {
	background-color: $biege;
}

.light-section-clear {
	background-color: $light;
}

.biege-section-clear {
	background-color: $light;
}

.map-btn__wrapper {
	padding: 1.4rem 3.6rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1.2rem;

	span {
		width: 2.4rem;
		height: 2.4rem;
	}
}

.controlls {
	display: flex;
	align-items: center;
	gap: 3.3rem;
	height: 5.1rem;
	margin-bottom: 0.9rem;

	&:focus {
		outline: none;
	}

	&__count-value {
		color: #35415c;
		font-family: Circe;
		font-size: 3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		text-transform: uppercase;

		&:focus {
			outline: none;
		}
	}

	&__count-btn:first-child {
		background-image: url(../images/svg/generic/minus.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 1.2rem;
		height: 1.2rem;
	}

	&__count-btn:last-child {
		background-image: url(../images/svg/generic/plus.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		width: 1.2rem;
		height: 1.2rem;
	}

	&__count-btn {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: 0.35s;
		transform: scale(1);

		&:focus {
			outline: none;
		}
	}
}

.card-det-section {
	position: relative;
	padding-bottom: 0 !important;
	background-image: url(../images/svg/bg/border-card-det-bg.svg),
		url(../images/svg/bg/border-card-det-bg-right.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center, right center;
	&__bg-right {
		position: absolute;
		bottom: 0rem;
		right: 0rem;
		width: 28.8rem;
		height: 85.2rem;
		transform: rotate(180deg);
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}
	&__bg-left {
		position: absolute;
		bottom: 0rem;
		left: 0;
		right: 0rem;
		width: 28.8rem;
		height: 85.2rem;
		z-index: 1;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}
}

.light-section {
	background: url(../images/symbol/stack/sprite.svg#bg--background-pattern) top
		left/cover no-repeat;

	@media (max-width: 48em) {
		background-image: url(../images/symbol/stack/sprite.svg#bg--background-pattern-mobile);
		background-position: center;
	}
}

.white-arrow-btn {
	width: 7rem;
	height: 7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: background-color 0.2s ease-in-out;
	background: $light
		url(../images/symbol/stack/sprite.svg#generic--short-arrow-right) center/40%
		no-repeat;

	svg {
		width: 2.8rem;
		height: 1.2rem;
	}

	&:hover {
		background-color: $brightHeadlines;
	}

	@media (max-width: 48em) {
		width: 14rem;
		height: 14rem;
	}
}

.section {
	padding-top: 15rem;
	padding-bottom: 15rem;

	@media (max-width: 48em) {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}

	&--small {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}

.hero-section {
	padding-top: 22.4rem;

	@media (max-width: 48em) {
		padding-top: 24rem;
	}
}

.heading1 {
	font-weight: 700;
	font-family: 'El Messiri';
	font-size: 9.6rem;
	line-height: 1;

	@media (max-width: 48em) {
		font-size: 8rem;
		line-height: 1.2;
		letter-spacing: 0.2rem;
	}
}

.heading2 {
	font-weight: 700;
	font-size: 6rem;
	line-height: 1;
	color: $darkBlue;

	@media (max-width: 48em) {
		font-size: 5.2rem;
		line-height: 1.2;
	}
}

.heading3 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.6rem;

	@media (max-width: 48em) {
		font-size: 4.4rem;
		line-height: 1.2;
	}
}

.heading4 {
	font-weight: 700;
	font-size: 2.2rem;
	line-height: 1.3;
	text-transform: uppercase;

	@media (max-width: 48em) {
		font-size: 3.6rem;
		line-height: 1.5;
	}
}

.heading5 {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.2rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@media (max-width: 48em) {
		font-size: 3.6rem;
		line-height: 5.4rem;
		letter-spacing: 0.1em;
	}
}

.square-btn {
	padding: 1.4rem 3.6rem;
	display: inline-block;
	position: relative;
	color: $biege-btn;
	font-weight: 700;
	cursor: pointer;
	font-size: 1.8rem;
	line-height: 1.3;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	border: 0.2rem solid $biege-btn;
	text-transform: uppercase;
	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	&:hover:not(:focus-visible) {
		background-color: $biege-btn;
		color: $darkBlue;
	}

	@media (max-width: 48em) {
		padding: 2.8rem 7.2rem;
		font-size: 3.2rem;
		line-height: 1.2;
	}

	&--margin45 {
		margin-top: 4.5rem;
	}
}

.square-btn.blue-square-btn {
	border-color: $darkBlue;
	color: $darkBlue;
	&:hover {
		@media (hover: hover) {
			border-color: #fff9ee;
			background: rgba(35, 41, 62, 0.3);
			color: #fff9ee;
		}
	}
}

.arrow-link {
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	gap: 1.4rem;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.3;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	color: $darkBlue;

	&:hover {
		@media (hover: hover) {
			color: #e3bca0;
			.arrow-link__icon {
				fill: #e3bca0;
			}
		}
	}

	&__icon {
		width: 2.9rem;
		height: 1.3rem;
		-o-object-fit: contain;
		object-fit: contain;
		transform: translateY(-0.2rem);
	}

	@media (max-width: 48em) {
		gap: 2rem;
		font-size: 3.2rem;
		line-height: 1.2;
		letter-spacing: 0.48px;

		&__icon {
			width: 5.6rem;
			height: 2.8rem;
		}
	}
}

.btn {
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@media (max-width: 48em) {
		font-size: 3.2rem;
		line-height: 3.8rem;
		letter-spacing: 0.03em;
	}
}

.stroke-btn {
	padding: 2.4rem 3.6rem;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1.3;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	text-align: center;
	border: 0.2rem solid $darkBlue;

	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	@media (max-width: 48em) {
		padding: 4.8rem 7.2rem;
		font-size: 3.2rem;
		line-height: 1.2;
		letter-spacing: 0.48px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
	}
}

.light-btn {
	background-color: rgba(230, 176, 154, 0.2);
	color: $light;
	border-color: $light;

	&:hover:not(:focus-visible) {
		background-color: $light;
		color: $darkBlue;
	}
}

.blue-btn {
	border-color: $darkBlue;
	color: $darkBlue;

	&:hover:not(:focus-visible) {
		background-color: $darkBlue;
		color: $biege;
	}
}

.text1 {
	font-size: 1.8rem;
	line-height: 1.4;

	@media (max-width: 48em) {
		font-size: 2.8rem;
	}
}

.filter-result-item {
	display: none !important;
	padding-right: 3.4rem;
	background-image: url('sprite.svg#dark-crest');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&.active {
		display: flex !important;
	}
}

.text2 {
	font-size: 2rem;

	font-weight: 400;
	line-height: 1.25;

	@media (max-width: 48em) {
		font-size: 2.8rem;
		line-height: 140%;
	}
}

.text-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 14.5rem;

	&__parag {
		max-width: 78.3rem;
		display: flex;
		gap: 3rem;
		flex-direction: column;
	}

	@media (max-width: 48em) {
		margin-top: 11rem;
		flex-direction: column;
		gap: 5rem;

		&__parag {
			max-width: 100%;
			gap: 5rem;
		}
	}
}

.menu {
	font-size: 2rem;
	line-height: 1.25;

	@media (max-width: 48em) {
		font-size: 2.8rem;
		line-height: 1.4;
	}
}

.btns-caps {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: 0.9px;
	text-transform: uppercase;
	transition-property: color, border-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	@media (max-width: 48em) {
		font-size: 3.6rem;
		line-height: 1.5;
	}
}

.filter-btn {
	span {
		padding-left: 3.6rem;
		background-image: url('/sprite.svg#filter');
		background-repeat: no-repeat;
		background-position: top left;
		background-size: contain;
	}
}

.input-container {
	position: relative;
	width: 100%;

	input[type='date'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none; /* Убрать стандартный стиль элемента */
		background-image: none;
		padding-right: 0.5em;

		position: relative;
		&::after {
			width: 30%;
			height: 100%;
			content: '';
			background-color: #fff9ee;
			right: 0;
			position: absolute;
		}
	}

	&.success {
		.input {
			width: 100%;
			border-color: $blue;
		}

		.icon {
			&.invalid {
				opacity: 0;
			}
			&.success {
				opacity: 1;
			}
		}
	}

	&.invalid {
		.input {
			border-color: $darkBlue;
		}

		.icon {
			// top: 37%;
			&.invalid {
				opacity: 1;
			}
			&.success {
				opacity: 0;
			}
		}

		.input-status {
			display: block;
			color: $brightHeadlines;
		}
	}

	.input {
		padding: 3.7rem 7.2rem 1.2rem 3.5rem;
		width: 100%;
		height: 7.4rem;
		font-size: 2rem;
		line-height: 2.5rem;
		border: 0.2rem solid $biege;
		border-radius: 0;
		color: $black;
		background-color: $light;
		transition-property: border-color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		&::-ms-input-placeholder {
			color: transparent;
		}

		&::placeholder {
			color: transparent;
		}

		&:focus-visible + .input-label,
		&:not(:placeholder-shown) + .input-label,
		&-webkit-autofill + .input-label {
			transform: translateY(-1.3rem);
		}
	}

	.input-label {
		position: absolute;
		top: 2.5rem;
		left: 3.5rem;
		font-size: 2rem;
		font-weight: 400;
		line-height: 2.5rem;
		color: $grey;
		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		cursor: pointer;

		&--textarea {
			width: 80%;
			background-color: #fff9ee;
		}
	}

	.icon {
		position: absolute;
		top: 50%;
		right: 4rem;
		width: 2.4rem;
		height: 2.4rem;
		-o-object-fit: contain;
		object-fit: contain;
		transform: translateY(-50%);

		&.invalid {
			opacity: 0;
			background-image: url(../images/svg/generic/invalid.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 92%;
		}
		&.success {
			opacity: 0;
			background-image: url(../images/svg/generic/succes.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
		}
	}

	.input-status {
		position: absolute;
		bottom: -2rem;
		left: 0;
		margin: 0.4rem 0 0 3.5rem;
		font-size: 1.4rem;
		line-height: 140%;
		display: none;
	}

	@media (max-width: 48em) {
		.input-status {
			bottom: -4rem;
			font-size: 2.8rem;
		}
		.input {
			padding: 5.2rem 14.8rem 1.2rem 5rem;
			font-size: 2.8rem;
			line-height: 4rem;
			border-width: 0.2rem;
			height: 10.4rem;

			&:focus-visible + .input-label,
			&:not(:placeholder-shown) + .input-label,
			&-webkit-autofill + .input-label {
				transform: translateY(-2rem);
			}
		}

		.input-label {
			top: 3.2rem;
			left: 5rem;
			font-size: 2.8rem;
			line-height: 4rem;
		}

		.icon {
			right: 5rem;
			width: 4.8rem;
			height: 4.8rem;
		}

		&.invalid {
			.icon {
				top: 50%;
			}
		}
	}
}

.heading-biege {
	color: #e3bca0;
}

.box-biege {
	width: 100%;
	padding: 4.4rem 4rem 6.2rem;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 0 0 5rem 5rem;
	background: $biege;
}

.box-blue {
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	display: flex;
	padding: 4rem;
	border-radius: 0 0 5rem 5rem;
	background: $darkBlue;
}

.red-btn {
	padding: 2.4rem 3.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 2.3rem;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	color: $text;
	background-color: $red;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border-radius: 9.4rem;

	.arrow {
		width: 2.9rem;
		height: 1.3rem;
		-o-object-fit: contain;
		object-fit: contain;
	}

	&:hover {
		background-color: $green;
	}

	&.disable {
		background-color: rgba(156, 63, 102, 0.2);
	}

	@media (max-width: 48em) {
		padding-top: 4.8rem;
		padding-bottom: 4.8rem;
		width: 100%;
		font-size: 3.2rem;
		line-height: 3.8rem;

		span {
			margin-right: 4rem;
		}

		.arrow {
			width: 5.6rem;
			height: 2.6rem;
		}
	}
}

.sidebar-tabs {
	&__item {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
		&-btn {
			padding: 2.2rem 2.5rem;
			width: 100%;
			display: flex;
			align-items: center;
			position: relative;
			font-size: 2rem;
			line-height: 2.5rem;
			color: $black;
			background-color: transparent;
			transition: background-color 0.2s ease-in-out;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				height: 100%;
				background-color: $brightHeadlines;
				border-radius: 0 0.5rem 0.5rem 0;
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
			}

			&.active {
				&::after {
					opacity: 1;
				}

				font-weight: 700;
			}

			&__icon {
				margin-right: 1.6rem;
				width: 2.8rem;
				height: 2.8rem;
			}
		}
	}

	@media (max-width: 48em) {
		&__item {
			&:not(:last-child) {
				margin-bottom: 1.2rem;
			}

			&-btn {
				padding: 3.3rem 4.4rem;
				font-size: 2.8rem;
				line-height: 4rem;

				&__icon {
					margin-right: 2rem;
					width: 4.8rem;
					height: 4.8rem;
				}

				&::after {
					width: 0.4rem;
					border-radius: 0 1rem 1rem 0;
				}
			}
		}
	}
}

.section-tags__container {
}

.section-tags {
	display: flex;
	gap: 5rem;
	align-items: center;
	height: 3.6rem;

	&__item {
		&-btn {
			font-size: 2rem;
			line-height: 1.25;
			color: $darkBlue;
			height: 3.6rem;
			display: flex;
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
			align-items: center;
			transition: 0.2s ease-in-out;

			&.active {
				color: #35415c;
				font-family: Circe;
				font-size: 3rem;
				font-style: normal;
				font-weight: 700;
				line-height: 120%; /* 36px */
			}
		}
	}
}

.swiper-controllers {
	.swiper-next,
	.swiper-prev {
		position: absolute;
		top: 50%;
		width: 7rem;
		height: 7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		border-radius: 50%;
		border: 0.2rem solid $biege-btn;
		z-index: 1;
		transition: background-color 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			background-color: $biege-btn;
		}
	}

	.swiper-prev {
		left: 0;
		transform: translate(-50%, -50%) scaleX(-1);
		background-image: url(../images/symbol/stack/sprite.svg#bg--left-arrow);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
	}

	.swiper-next {
		right: 0;
		transform: translate(50%, -50%);
		background-image: url(../images/symbol/stack/sprite.svg#bg--left-arrow);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40%;
	}

	.swiper-pagination {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.swiper-pagination-bullet {
			width: 1.3rem;
			height: 1.3rem;
			border-radius: 50%;
			opacity: 1;
			background-color: transparent;
			border: 0.2rem solid $darkBlue;

			&:not(:last-child) {
				margin-right: 1.3rem;
			}

			&.swiper-pagination-bullet-active {
				background-color: $darkBlue;
			}
		}
	}

	@media (max-width: 48em) {
		.swiper-pagination {
			.swiper-pagination-bullet {
				width: 3rem;
				height: 3rem;

				&:not(:last-child) {
					margin-right: 2.6rem;
				}
			}
		}
	}
}

.breadcrumbs {
	margin-bottom: 5.7rem;
	display: flex;
	align-items: center;
	font-size: 2rem;
	line-height: 1.25;

	&__item {
		position: relative;
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 2.4rem;

			&::after {
				content: '/';
				position: absolute;
				right: -1.5rem;
				font-size: 2rem;
				line-height: 1.25;
				color: $darkBlue;
				top: 0;
			}
		}

		&:last-child {
			.breadcrumbs__item-link {
				color: $darkGrey;
			}
		}

		&-link {
			color: $darkBlue;
			position: relative;
			align-items: center;
			display: flex;
		}
	}

	@media (max-width: 48em) {
		&__item {
			font-size: 2.8rem;

			&-link {
				svg {
					width: 5.6rem;
					height: 5.6rem;
				}
			}

			&:not(:last-child):after {
				font-size: 2.8rem;
			}

			&:first-child::after {
				top: 1rem;
			}
		}
	}
}

@media (max-width: 48em) {
	.breadcrumbs__container {
		padding: 0;
	}
}

.filters-search-sorting {
	display: flex;
	align-items: flex-start;
	width: 100%;

	.filters-open {
		margin-right: 2.4rem;
		padding: 2.4rem 4rem;
		display: flex;
		align-items: center;
		gap: 1.2rem;
		font-size: 2rem;
		line-height: 2.5rem;
		color: $text;
		background-color: $red;
		border-radius: 5rem;
		transition-property: background-color;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;

		&:hover {
			background-color: $green;
		}

		img {
			width: 2.4rem;
			height: 2.4rem;
			-o-object-fit: contain;
			object-fit: contain;
		}
	}

	.search {
		position: relative;

		&__input {
			padding: 2.45rem 7.9rem;
			width: 41.1rem;
			font-size: 1.8rem;
			line-height: 2.5rem;
			background-color: $background;
			border-radius: 10rem;

			&::-webkit-input-placeholder {
				color: $darkGrey;
			}

			&::-moz-placeholder {
				color: $darkGrey;
			}

			&:-ms-input-placeholder {
				color: $darkGrey;
			}

			&::-ms-input-placeholder {
				color: $darkGrey;
			}

			&::placeholder {
				color: $darkGrey;
			}
		}

		&__icon {
			position: absolute;
			left: 0.4rem;
			top: 50%;
			width: 6.3rem;
			height: 6.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $white;
			border-radius: 50%;
			transform: translateY(-50%);

			img {
				width: 3rem;
				height: 3rem;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}

		&__btn {
			position: absolute;
			right: 0.4rem;
			top: 50%;
			width: 6.3rem;
			height: 6.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $red;
			border-radius: 50%;
			transform: translateY(-50%);

			img {
				width: 2.8rem;
				height: 1.2rem;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}
	}
}

.tag-btn {
	padding: 1.4rem 3.6rem;
	display: flex;
	align-items: center;
	gap: 1.2rem;
	font-size: 2rem;
	line-height: 1.25;
	border: 0.2rem solid $darkBlue;
	color: $darkBlue;
	height: 5.4rem;
	max-height: 5.4rem;
	min-height: 5.4rem;

	svg {
		width: 2.4rem;
		height: 2.4rem;
	}

	.crest {
		width: 2.4rem;
		height: 2.4rem;
	}

	&--borderless {
		border: none;
	}

	@media (max-width: 48em) {
		padding: 3.2rem 4rem;
		font-size: 2.8rem;
		line-height: 140%;
	}
}

.password-btn {
	&__show {
		z-index: 20;
		transition: 0.2s ease-in-out;
		position: relative;
		cursor: pointer;
		&:active {
			bottom: -0.1rem;
		}
	}
}

.play-btn {
	svg {
		width: 8.8rem;
		height: 8.8rem;
		-o-object-fit: contain;
		object-fit: contain;

		path {
			transition: fill 0.2s ease-in-out;
		}

		circle {
			transition: stroke 0.2s ease-in-out;
		}
	}

	&:hover {
		svg {
			path {
				fill: $biege-btn;
			}

			circle {
				stroke: $biege-btn;
			}
		}
	}
}

.three-item-container {
	display: flex;
	gap: 3.5rem;

	.catalog-card-1 {
		width: 51rem;
	}
}

.section-info__card {
	padding: 8rem 6rem;
	display: flex;
	justify-content: space-between;
	border-radius: 0 0 5rem 5rem;
	background: url(../images/svg/bg/big-background-pattern.svg) top left/cover
			no-repeat,
		$darkBlue;
	&.hide {
		display: none;
	}

	&.active {
		display: flex !important;
	}
	&--big-right-part {
		height: 59rem;
		padding: 0;
		overflow: auto;
		.section-info__card-left {
			padding: 8rem 6rem;
			padding-right: 4rem;
			width: 50%;
		}
		.section-info__card-right {
			width: 50%;
			height: auto;
		}
		.section-info__card-right__img {
			width: 100%;
			height: 100%;
			border-radius: 0rem 0px 0rem 0rem;
			position: relative;

			img {
				-o-object-fit: cover;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	&-left {
		width: 64rem;

		.square-btn {
			margin-top: 4.5rem;
		}

		&__heading {
			margin-bottom: 2.5rem;
			width: 67.4rem;
			color: $light;
		}

		&__subheading {
			margin-bottom: 4.5rem;
			color: $brightHeadlines;
		}

		&__description {
			color: $light;

			p {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}

		&__link {
			margin-top: 4.5rem;
		}
	}

	&-right {
		min-width: 74.4rem;
		gap: 3.2rem;
		height: 49.6rem;
		display: flex;
		justify-content: space-between;

		&__large {
			width: 100%;
			height: 100%;
		}

		&__img {
			width: 37.2rem;
			overflow: hidden;
			border-radius: 0 0 5rem 5rem;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
				border-radius: inherit;
			}
		}

		&__med-img {
			width: 74.4rem;
			height: 49.6rem;
			border-radius: 0 0 5rem 5rem;

			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}

			@media (max-width: 48em) {
				width: 59rem;
				height: 39.2rem;
			}
		}

		position: relative;

		& > img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: inherit;
		}

		.play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__video {
		width: 37.2rem;
		height: 100%;
		position: relative;
		border-radius: 0 0 5rem 5rem;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: inherit;
		}

		.play-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	@media (max-width: 48em) {
		padding: 9.6rem 4rem;
		background-image: url('../images/svg/bg/big-background-pattern-mobile.svg');

		&__container {
			flex-direction: column;
			justify-content: flex-start;
		}

		&-left {
			&__heading {
				max-width: 59rem;
			}
		}

		&-right {
			min-width: 59rem;
		}

		&__left {
			margin-bottom: 8rem;
			width: 100%;

			&-heading {
				margin-bottom: 8rem;
			}

			&-description {
				margin-bottom: 0;
				p {
					&:not(:last-child) {
						margin-bottom: 2rem;
					}
					&:last-child {
						margin-bottom: 8rem;
					}
				}
			}

			&-link {
				margin-top: 8rem;
				position: relative;
				left: 100%;
				transform: translateX(-100%);
			}

			.arrow-link {
				width: 100%;

				span {
					margin-left: auto;
				}
			}
		}

		&__right {
			width: 100%;
			justify-content: space-between;

			&-img {
				margin-right: 0;
				width: 32.6rem;
				height: 42rem;
				border-radius: 0 0 5.2rem 5.2rem;
			}

			&-video {
				width: 32.4rem;
				height: 42rem;
				border-radius: 0 0 5.2rem 5.2rem;

				img {
					max-height: 42rem;
				}
			}

			.video-js {
				width: 32.6rem;
				height: 42rem;
			}
		}

		.square-btn {
			width: 100%;
			text-align: center;
		}
	}
}

@media (max-width: 48em) {
	.about-info__card {
		flex-direction: column-reverse;

		&.section-info__card-big-padding {
			padding-top: 14rem;

			.section-info__card-left__heading {
				top: -61rem;
			}
		}

		.section-info__card-left {
			width: auto;
			position: relative;

			&__heading {
				position: absolute;
				top: -58rem;
				left: 0rem;
				leading-trim: both;
				text-edge: cap;
			}

			&__link {
				width: 100%;
				text-align: center;
			}
		}

		.section-info__card-right {
			width: auto;
			height: auto;
			margin: 12rem 0 8rem 0;
			-moz-column-gap: 1rem;
			column-gap: 1rem;

			&__img {
				width: 28.4rem;
				height: 37rem;
			}

			.video-js {
				width: 28.4rem;
				height: 37rem;
			}

			&__large {
				.video-js {
					width: 100%;
					height: 36.6rem;
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.section-info__card--big-right-part {
		overflow: hidden;
		height: auto;
		flex-direction: column;
		padding-top: 0;
		padding-bottom: 0;
		border-radius: 0 0 7.2rem 7.2rem;
		padding: 0;

		.section-info__card-left {
			padding: 10rem 4rem 8rem;

			&__heading {
				margin: 0 0 8rem 0;
				position: static;
			}
		}

		.section-info__card-right {
			margin: 0;
			height: 50rem;
			border-radius: 0;

			&__img {
				width: 100%;
				height: 100%;
			}

			.video-js {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: 48em) {
	.franchise-banner {
		&.franchise-banner__activities {
			.section-info__card-right {
				margin-top: 17rem;
			}

			.section-info__card-left__heading {
				top: -63rem;
			}
		}

		.square-btn {
			padding: 2.8rem 6.7rem;
		}
	}
}

.accordion {
	.acc-item {
		&:not(:last-child) {
			margin-bottom: 8rem;
		}

		&.active {
			.acc-content {
				opacity: 1;
			}

			.acc-head {
				.arrow {
					transform: scaleY(1);
				}
			}
		}

		.acc-head {
			padding: 3.2rem 6rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: url(../images/svg/bg/acc-head-ornament.svg) top left/cover
					no-repeat,
				$biege;
			cursor: pointer;

			.arrow {
				width: 1.6rem;
				height: 2.8rem;
				-o-object-fit: contain;
				object-fit: contain;
				transform: scaleY(-1);
				transition: transform 0.3s ease-in-out;
			}

			&__right {
				display: flex;
				align-items: center;

				.text1 {
					margin-right: 3rem;
				}
			}
		}

		.acc-content {
			font-weight: 700;
			border-radius: 0 0 5rem 5rem;
			border: 0.2rem solid #e8ccbf;
			border-top: 0;
			max-height: 0;
			position: relative;
			overflow: hidden;
			opacity: 0;
			transition-property: opacity, visibility, max-height, padding;
			transition-duration: 0.5s;
			transition-timing-function: ease-in-out;

			.content {
				padding: 4rem 6rem;

				.heading {
					margin-bottom: 2rem;
				}

				.text {
					font-weight: 400;
				}

				.pay-ways {
					display: flex;
					align-items: center;
					gap: 3.4rem;

					&__item {
						&-img {
							width: 8.3rem;
							height: 5.7rem;
							-o-object-fit: contain;
							object-fit: contain;
						}
					}
				}
			}

			&__list {
				&:not(:last-child) {
					margin-bottom: 4.5rem;
				}
				&-item {
					padding-left: 2rem;
					position: relative;

					&:not(:last-child) {
						margin-bottom: 0.8rem;
					}

					&::before {
						content: '';
						position: absolute;
						top: 0.6rem;
						left: 0;
						width: 0.8rem;
						height: 0.8rem;
						border-radius: 50%;
						background-color: $darkBlue;
					}
				}
			}

			.request-vacancy-btn {
				position: absolute;
				bottom: 4rem;
				right: 6rem;
			}

			p {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

.accordion {
	.acc-item {
		&:not(:last-child) {
			margin-bottom: 8rem;
		}

		&.active {
			.acc-content {
				transition: 0.7s ease-in-out;
				// max-height: 200rem !important;
				opacity: 1;
			}

			.acc-head {
				.arrow {
					transform: scaleY(1);
				}
			}
		}

		.acc-head {
			padding: 3.2rem 6rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: url(../images/svg/bg/acc-head-ornament.svg) top left/cover
					no-repeat,
				$biege;
			cursor: pointer;

			.arrow {
				width: 1.6rem;
				height: 2.8rem;
				-o-object-fit: contain;
				object-fit: contain;
				transform: scaleY(-1);
				transition: transform 0.3s ease-in-out;
			}

			&__box {
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: fit-content;
				align-items: flex-start;
				display: flex;

				&-text {
					margin-right: 0.8rem;
				}

				.cart-icon {
					margin-right: 3.2rem;
				}
			}
		}

		.acc-content {
			font-weight: 700;
			border-radius: 0 0 5rem 5rem;
			border: 0.2rem solid #e8ccbf;
			border-top: 0;
			max-height: 0;
			overflow: hidden;
			opacity: 0;
			transition: 0.5s ease-in-out;

			.content {
				padding: 4rem 6rem;

				.heading {
					margin-bottom: 2rem;
				}

				.text {
					font-weight: 400;
				}

				.pay-ways {
					display: flex;
					align-items: center;
					gap: 3.4rem;

					&__item {
						&-img {
							width: 8.3rem;
							height: 5.7rem;
							-o-object-fit: contain;
							object-fit: contain;
						}
					}
				}
			}

			p {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}

	@media (max-width: 48em) {
		.acc-item {
			.acc-head {
				background-image: url('../images/svg/bg/acc-head-ornament-mobile.svg');
				background-size: 100% 100%;
				padding: 4rem;

				.heading4 {
					max-width: 50rem;
				}

				.arrow {
					height: 3.8rem;
					width: 2.5rem;
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.card__container:first-child {
		margin-top: 6rem;

		.square-btn {
			width: 100%;
			text-align: center;
		}
	}
}
