.contacts-info {
    &__card {
        display: flex;

        &-left {
            padding: 10rem 6rem;
            width: 78rem;
            display: flex;
            flex-direction: column;
            background:
                url(../images/svg/contacts-info-ornament.svg) top left/cover no-repeat,
                $darkBlue;
            border-radius: 0 0 0 5rem;

            .heading2 {
                margin-bottom: 4rem;
                color: $light;
            }

            .heading4 {
                color: $brightHeadlines;
            }

            &__list {
                margin-top: auto;

                &-item {
                    &:not(:last-child) {
                        margin-bottom: 0.4rem;
                    }
                }

                &-link {
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    color: $light;
                    font-weight: 700;
                    font-size: 2rem;
                    line-height: 1.25rem;
                    transition: color 0.2s ease-in-out;

                    svg {
                        width: 4.9rem;
                        height: 4.9rem;
                        -o-object-fit: contain;
                           object-fit: contain;
                    }

                    &:hover {
                        color: $brightHeadlines;
                    }
                }
            }
        }

        &-right {
            width: 82rem;
            height: 62.5rem;
            border-radius: 0 0 5rem 0;

            &-img {
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: inherit;
            }
        }
    }
}
