.contacts-info {
	&__card {
		display: flex;
		height: 51.6rem;

		&-left {
			padding: 8rem 6rem;
			width: 78rem;
			display: flex;
			flex-direction: column;
			background: url(../images/svg/contacts-info-ornament.svg) top left/cover
					no-repeat,
				$darkBlue;
			border-radius: 0 0 0 5rem;

			.heading2 {
				margin-bottom: 4rem;
				color: $light;
			}

			.heading4 {
				color: $brightHeadlines;
			}

			&__list {
				margin-top: 3.6rem;
				display: flex;
				flex-direction: column;
				gap: 2.8rem;

				&-item {
					display: flex;
					align-items: flex-start;
					gap: 1.2rem;
					&-links {
						margin-top: 1.25rem;
						display: flex;
						flex-direction: column;
						gap: 1.5rem;
					}
					&:not(:last-child) {
						margin-bottom: 0.4rem;
					}
				}

				&-link {
					display: flex;
					align-items: center;
					gap: 1.2rem;
					color: $light;
					font-weight: 700;
					font-size: 2rem;
					line-height: 1;
					transition: color 0.2s ease-in-out;

					&:hover {
						color: $brightHeadlines;
					}
				}
			}
		}

		&-right {
			width: 82rem;
			height: 100%;
			overflow: hidden;
			border-radius: 0 0 5rem 0;

// &-img {
// 	width: 100%;
// 	height: 100%;
// 	-o-object-fit: cover;
// 	   object-fit: cover;
// 	border-radius: inherit;
// }
// }
// }
// }

// @media (max-width: 48em) {
// .contacts-info {
// &__card {
// flex-direction: column;

// &-left {
// 	width: auto;
// 	max-width: 67rem;
// 	border-radius: 0;
// }

// &-right {
// 	width: auto;
// 	max-width: 67rem;
// 	height: 80rem;
// 	border-radius: 0 0 7.2rem 7.2rem;
// 	overflow: hidden;

// 	img {
// 		height: 100%;
// 		object-fit: cover;
// 	}
// }
// }
// }
// }

			&__img {
				width: 100%;
				height: 100%;

				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}
}

@media (max-width: 48em) {
	.contacts-info {
		&__card {
			flex-direction: column;
			height: auto;

			&-left {
				width: auto;
				border-radius: 0;
				padding: 10rem 4rem 8rem 4rem;

				&__list-item {
					svg {
						width: 4.6rem;
						height: 4.6rem;
						margin: 0 2rem 0 0;
					}
				}

				&__list-link {
					font-size: 2.8rem;
				}
			}

			&-right {
				width: auto;
				max-width: 67rem;
				height: 80rem;
				border-radius: 0px 0px 7.2rem 7.2rem;
			}
		}
	}
}