.cooperation {
	&__container {
		display: flex;
	}

	&__left {
		padding: 8rem 6rem;
		width: 82rem;
		background: url(../images/svg/cooperation-ornament.svg) top left/cover
				no-repeat,
			$darkBlue;
		border-radius: 0 0 0 5rem;

		.heading2 {
			margin-bottom: 4.5rem;
			color: $light;
		}

		.heading4 {
			margin-bottom: 4.5rem;
			color: $brightHeadlines;
		}

		&-form {
			margin-bottom: 4.5rem;

			&__input-container {
				&:not(:last-child) {
					margin-bottom: 2.4rem;
				}
			}
		}

		&-description {
			width: 55.2rem;
		}
	}

	&__right {
		width: 78rem;
		border-radius: 0 0 5rem 0;

		&-img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: inherit;
		}
	}
}
