.cooperation {
	&__container {
		display: flex;
	}

	&__left {
		padding: 8rem 6rem;
		width: 82rem;
		background: url(../images/svg/cooperation-ornament.svg) top left/cover
				no-repeat,
			$darkBlue;
		border-radius: 0 0 0 5rem;

		.heading2 {
			margin-bottom: 4.5rem;
			color: $light;
		}

		.heading4 {
			margin-bottom: 4.5rem;
			color: $brightHeadlines;
		}

		&-form {
			margin-bottom: 4.5rem;

			&__input-container {
				&:not(:last-child) {
					margin-bottom: 2.4rem;
				}
			}

			&--short {
				width: 47.8rem;
			}
		}

		&-description {
			width: 55.2rem;
		}
	}

	&__right {
		width: 78rem;
		border-radius: 0 0 5rem 0;

		&-img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: inherit;
		}
	}
}

@media (max-width: 48em) {
	.cooperation {
		&__container {
			flex-direction: column;
		}

		&__left {
			width: auto;
			max-width: 67rem;
			border-radius: 0;
			padding: 9.6rem 4rem 8rem 4rem;

			.heading2,
			.heading4 {
				text-align: center;
			}

			.heading4 {
				margin: 0 0 8rem 0;
			}

			&-form {
				margin-bottom: 8rem;
				margin-right: 0;
	
				&__input-container {
					&:not(:last-child) {
						margin-bottom: 4rem;
					}
				}
			}

			&-form--short {
				width: auto;

				textarea {
					height: 31rem;
				}

				.cooperation__left-form__input-container:last-child {
					input {
						padding: 5.2rem 3.5rem;
					}

					label {
						font-size: 2.8rem;
						align-items: center;

						strong {
							font-size: 2.8rem;
						}

						span {
							font-size: 2.8rem;
						}
					}
				}
			}

			&-btn {
				padding: 2.8rem 11.66rem;
			}

			.square-btn {
				width: 100%;
				text-align: center;
			}
		}

		&__right {
			width: auto;
			max-width: 67rem;
			border-radius: 0 0 7.2rem 7.2rem; 
		}
	}
}