.delivery-main {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 89b79b4 (feat: update from main remote)
    background-color: $light;

    &__heading {
        margin-bottom: 2.8rem;
    }

    .section-tags__container {
        margin-bottom: 6rem;
    }

    &__accordion {
        display: none;

        &.active {
            display: block;
        }
    }

    &__notice {
        margin-bottom: 6rem;
        color: $darkGrey;
    }
<<<<<<< HEAD
=======
	background-color: $light;

	&__heading {
		margin-bottom: 2.8rem;
	}

	.section-tags__container {
		margin-bottom: 6rem;
	}

	&__accordion {
		display: none;

		&.active {
			display: block;
		}
	}

	&__notice {
		margin-bottom: 6rem;
		color: $darkGrey;
	}
>>>>>>> df18357 (feat: update from remote)
=======
>>>>>>> 89b79b4 (feat: update from main remote)
}
