.footer {
    &__top {
        padding-top: 5.4rem;
        padding-bottom: 5.5rem;
        color: $text;
        position: relative;
        background-color: $darkBlue;
        border-radius: 5rem 5rem 0 0;

        .container {
            display: flex;
        }

        &-logo {
            margin-right: 9.5rem;

            img {
                width: 22.8rem;
                height: 8.4rem;
                object-fit: contain;
            }
        }

        &-block {
            &__heading {
                margin-bottom: 2.4rem;
                color: inherit;
            }

            &__list {
                &-item {
                    &:not(:last-child) {
                        margin-bottom: 1.5rem;
                    }
                }

                a {
                    color: $text;
                }
            }

            &.block1 {
                margin-right: 8.6rem;
            }

            &.block2 {
                margin-right: 8.6rem;
                max-width: 22.4rem;
            }

            &.block3 {
                margin-right: 8.6rem;
            }

            &.block4 {
                margin-right: 8.8rem;
            }
        }

        &-social {
            position: absolute;
            right: 16rem;
            bottom: 6.2rem;
            display: flex;
            align-items: center;

            &__item {
                &:not(:last-child) {
                    margin-right: 1.6rem;
                }

                &-link {
                    display: inline-block;

                    img {
                        width: 4.5rem;
                        height: 4.5rem;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    &__bottom {
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
        background-color: $background;
        color: $black;

        .container {
            display: flex;
            align-items: center;
        }

        &-left {
            margin-right: 38.8rem;
        }

        &-right {
            margin-left: auto;
            display: flex;
            align-items: center;
            position: relative;

            &__text {
                margin-right: 1rem;
                p {
                    font-family: "Gilroy";

                    &:first-child {
                        font-weight: 500;
                        font-size: 1.5rem;
                        line-height: 1.8rem;
                        color: #838e9c;
                    }

                    &:last-child {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 2.2rem;

                        span {
                            font-weight: 700;
                        }
                    }
                }
            }

            &__logo {
                width: 4.6rem;
                height: 4.6rem;
            }

            &__link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: 48em) {
        &__top {
            padding: 8rem 4rem 13.6rem 4rem;
            border-radius: 7.2rem 7.2rem 0 0;

            .container {
                flex-direction: column;
            }

            &-logo {
                margin-right: 0;
                margin-bottom: 6rem;

                img {
                    width: 25.4rem;
                    height: 8.6rem;
                }
            }

            &-block {
                &.block1,
                &.block2,
                &.block3,
                &.block4,
                &.block5 {
                    margin-right: 0;
                    max-width: none;
                    margin-bottom: 6.4rem;
                }

                &.block1 {
                    order: 0;
                }

                &.block2 {
                    order: 1;
                }

                &.block3 {
                    order: 2;
                }

                &.block4 {
                    order: 4;
                }

                &.block5 {
                    order: 3;
                }

                &.block6 {
                    margin-bottom: 6.4rem;
                    order: 5;
                }

                &__heading {
                    margin-bottom: 2.8rem;
                }

                &__list {
                    &-item {
                        &:not(:last-child) {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }

            &-social {
                order: 6;
                position: relative;
                bottom: auto;
                right: auto;

                &__item {
                    &:not(:last-child) {
                        margin-right: 3.2rem;
                    }

                    &-link {
                        img {
                            width: 9rem;
                            height: 9rem;
                        }
                    }
                }
            }
        }

        &__bottom {
            padding-top: 6.4rem;
            padding-bottom: 6.4rem;

            .container {
                flex-direction: column;
                text-align: center;
            }

            &-left {
                margin-right: 0;
                margin-bottom: 3.2rem;
            }

            &-center {
                margin-bottom: 3.2rem;
            }

            &-right {
                margin-left: 0;
                &__text {
                    margin-right: 2rem;
                    text-align: right;

                    p {
                        &:first-child {
                            font-size: 3rem;
                            line-height: 3.6rem;
                        }

                        &:last-child {
                            font-size: 3.6rem;
                            line-height: 4.4rem;
                        }
                    }
                }

                &__logo {
                    width: 9.2rem;
                    height: 9.2rem;
                }
            }
        }
    }
}
