.header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $light;
    background-color: $darkBlue;
    z-index: 5;

    .container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 9.7rem;

        img {
            width: 18.1rem;
            height: 8.4rem;
            object-fit: contain;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__top-list {
        margin-bottom: 3.6rem;
        display: flex;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -0.7rem;
            width: 100%;
            height: 2px;
            background-color: $brightHeadlines;
            transform: translateX(-50%);
        }

        &__item {
            &:not(:last-child) {
                margin-right: 3rem;
            }

            &-link {
                color: $text;
            }
        }
    }

    &__bottom-list {
        display: flex;
        align-items: center;

        &__item {
            &:not(:last-child) {
                margin-right: 4.5rem;
            }

            &-link {
                color: $text;
            }
        }
    }

    &__right {
        margin-left: auto;
        align-self: flex-start;
        display: flex;
        align-items: center;
    }

    &__search,
    &__account {
        margin-right: 2.4rem;
    }

    &__search,
    &__account,
    &__cart {
        svg {
            width: 2.8rem;
            height: 2.8rem;
            object-fit: contain;
        }
    }

    @media (max-width: 48em) {
        padding-top: 4.8rem;
        padding-bottom: 4.8rem;

        &__burger {
            svg {
                width: 5.6rem;
                height: 3.4rem;
                object-fit: contain;
            }
        }

        .container {
            justify-content: space-between;
        }

        &__logo {
            margin-right: 0;

            img {
                width: 18.6rem;
                height: 8.6rem;
            }
        }

        &__right {
            margin-left: 0;
            align-self: center;
        }

        &__account,
        &__cart {
            img {
                width: 5.4rem;
                height: 5.4rem;
            }
        }
    }
}
