.phone-icon {
	stroke: #fff9ee;

	&--biege {
		stroke: #e6af9a;
		width: 3.65rem;
		height: 3.65rem;
	}
}

.email {
	width: 3.94rem;
	height: 3.94rem;
}

.search-icon {
	fill: #fff9ee;
	&--dark {
		fill: $darkBlue;
		width: 100%;
		height: 100%;
	}
}

.composition {
	width: 20.6rem;
	height: 19.2rem;
	flex-shrink: 0;
}

.search-arrow--dark {
	fill: $darkBlue;
	stroke: $darkBlue;
	width: 100%;
	height: 100%;
}

.arrow-link {
	fill: $darkBlue;
}

.home {
	stroke: $darkBlue;
	fill: transparent;
}

.crest {
	stroke: #fff9ee;
	stroke-width: 2;
	stroke-linecap: 'round';
	width: 4.3rem;
	height: 4.3rem;
	&--dark {
		stroke: #29354d;

		stroke-width: 2;
		stroke-linecap: 'round';
	}
}

.vk--dark {
	width: 4.5rem;
	height: 4.5rem;
}

.telegram--dark {
	width: 4.5rem;
	height: 4.5rem;
}
