.interiors {
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-color: $biege;

    &__heading {
        margin-bottom: 5rem;
        text-align: center;
    }

    &__container {
        position: relative;
    }

    &__swiper {
        margin-bottom: 4rem;

        &-slide {
            width: 78.2rem;
            height: 64rem;
            border-radius: 0 0 5rem 5rem;

            &.swiper-slide-prev,
            &.swiper-slide-next {
                width: 37.4rem;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }
    }
}
