.main-about {
    padding-top: 15rem;
    padding-bottom: 15rem;

    &__banner {
        padding: 8rem 9rem;
        text-align: center;
        background-color: $darkBlue;
        border-radius: 0 0 5rem 5rem;

        &-heading,
        &-subheading,
        &-description {
            margin-bottom: 4.5rem;
        }

        &-heading,
        &-description {
            color: $light;
        }

        &-description {
            margin-left: auto;
            margin-right: auto;
            width: 113.7rem;
        }

        &-subheading {
            color: $brightHeadlines;
        }
    }

    @media (max-width: 48em) {
        &__banner {
            padding: 12rem 4rem;
            border-radius: 0 0 7.2rem 7.2rem;

            &-description {
                width: 100%;
            }
        }
    }
}
