.map-block {
	display: flex;
	border-top: 0.2rem solid $light;
	border-radius: 0 0 5rem 5rem;
	overflow: hidden;
	height: 85rem;

	&--self-delivery {
		margin-top: 5.5rem;
		margin-bottom: 6rem;

		.map-block__map-box {
			border-radius: 0 0 5rem 5rem;
			overflow: hidden;
		}
	}

	&__identify-box {
		display: flex;
		gap: 0.8rem;
		align-items: center;
		margin-top: 1.2rem;
		cursor: pointer;

		span {
			width: 2.4rem;
			height: 2.4rem;
		}

		p {
			color: #29354d;
			font-family: Circe;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: 125%;
		}
	}

	&__form {
		margin-right: 13.5rem;
		&-head {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
		}
		&-subtitle {
			color: #797979;
			font-family: Circe;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
		}
		&-adress {
			position: relative;
			width: 100%;
			height: 7.3rem;
			padding: 2.4rem 6rem 2.4rem 3.5rem;
			border: 0.2rem solid #f1ded0;
			overflow: hidden;
			font-family: Circe;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 125%;
		}

		&-adress-remove {
			width: 2.4rem;
			height: 2.4rem;
			cursor: pointer;
			position: absolute;
			right: 3.5rem;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__form-box {
		width: 51rem;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		margin-top: 5.4rem;
		margin-bottom: 6rem;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 2.4rem;
	}

	&__search-box {
		padding: 4rem;
		background-color: $biege;
	}
	.search-block__input {
		background-color: #fff9ee;
	}
	&__search {
		&-title {
			margin-bottom: 2.7rem !important;
		}

		&-list {
			padding-right: 1.2rem;
			width: 64.6rem;
			height: 60.9rem;
			display: flex;
			flex-wrap: wrap;
			gap: 2.4rem;
			margin-top: 5.1rem;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 0.4rem;
			}

			&::-webkit-scrollbar {
				width: 0.4rem;
				right: 2rem;
				padding-right: 2rem;
			}

			::-webkit-scrollbar-thumb {
				background-color: #e6af9a;
				border-radius: 0.4rem;
			}

			&::-webkit-scrollbar-track {
				background-color: #fff9ee;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #e6af9a;
				border-radius: 0.4rem;
			}

			&::-webkit-scrollbar-track {
				background-color: #fff9ee;
			}
		}

		&-item {
			background: #fff9ee;
			height: 17.3rem;
			padding: 2rem;
			display: flex;
			width: 30rem;
			flex-direction: column;
			justify-content: space-between;
			border: 0.2rem solid rgba(0, 0, 0, 0);

			&.active {
				border: 0.2rem solid #29354d;
			}

			&-title {
				color: #29354d;
				font-family: Circe;
				font-size: 2rem;
				font-style: normal;
				font-weight: 700;
				line-height: 125%;
				width: 26rem;
				margin-bottom: 0.6rem !important;
			}

			&-time {
				display: flex;
				align-items: center;
				gap: 0.6rem;
				width: -webkit-fit-content;
				width: -moz-fit-content;
				width: fit-content;
				padding-left: 3rem;
				background-image: url(../images/svg/generic/clock.svg);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;

				span {
					color: #29354d;
					font-family: Circe;
					font-size: 1.8rem;
					font-style: normal;
					font-weight: 400;
					line-height: 1;
				}
			}

			&-text {
				color: #797979;
				font-family: Circe;
				font-size: 1.8rem;
				font-style: normal;
				font-weight: 400;
				line-height: 1.2;
				margin-bottom: 0rem !important;
			}

			&-bottom {
				padding-top: 1.6rem;
				border-top: 0.1rem solid rgba(121, 121, 121, 0.2);
				display: flex;
				justify-content: space-between;

				.arrow-link {
					color: $darkBlue;
					cursor: pointer;
					svg {
						path {
							fill: $darkBlue;
						}
					}

					&:hover {
						@media (hover: hover) {
							color: rgba(227, 188, 160, 1);
							svg {
								path {
									fill: rgba(227, 188, 160, 1);
								}
							}
						}
					}
				}
			}
		}
	}

	&__map-box {
		width: 100%;
		height: 100%;
		position: relative;
	}
}

@media (max-width: 48em) {
	.map-block {
		height: 251.8rem;
		flex-direction: column;

		&__search-box {
			padding: 8rem 4rem;

			.search-block {
				height: auto;
				max-height: none;

				&__input {
					padding: 3rem 7.2rem;
					font-size: 2.8rem;
				}
			}
		}

		&__search-list {
			width: auto;
			max-width: 67rem;
			height: auto;
			max-height: 160rem;
		}

		&__search-item {
			width: auto;
			height: auto;
			flex: 0 1 100%;
			padding: 2rem 4rem;

			&-top {
				margin: 0 0 2.4rem 0;

				& > * {
					font-size: 2.8rem;
				}
			}

			&-time {
				span {
					font-size: 2.8rem;
				}
			}
		}

		&__map-box {
			.modal-map.active {
				position: fixed;
				left: 0;
				z-index: 5 !important;
				
				.modal__container {
					margin-top: 5rem;
					width: 67rem;

					.modal-map__swiper {
						height: 55.8rem;
						width: 67rem;
					}

					.modal-map__content {
						padding: 4rem 4rem 6rem;

						&-title {
							font-size: 3.6rem;
							text-align: left;
						}

						&-disc {
							row-gap: 1.6rem;
							column-gap: 0;

							& > * {
								font-size: 2.8rem;
							}
						}

						&-adress {
							order: 1;

							p {
								font-size: 2.8rem;
								text-align: left;
							}

							svg {
								width: 3rem;
								height: 3rem;
							}
						}

						&-time {
							order: 4;

							span {
								font-size: 2.8rem;
							}

							svg {
								width: 3rem;
								height: 3rem;
							}
						}

						&-pass {
							order: 2;
						}

						&-tel {
							order: 3;

							span {
								font-size: 2.8rem;
							}

							svg {
								width: 3rem;
								height: 3rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.map-block--self-delivery {
		flex-direction: column-reverse;
		height: 173.8rem;
		position: relative;
		margin-bottom: 0;
		border-radius: 0;

		.map-block__map-box {
			width: 67rem;
			height: 76rem;
		}

		.map-block__form {
			margin-right: 0;

			&-head {
				position: absolute;
				top: 0;
				left: 0;
			}

			&-box {
				width: auto;
				margin: 8rem 0;
				row-gap: 5rem;
			}

			&-subtitle {
				margin: 5rem 0 0 0;
				font-size: 2.8rem;
			}

			.square-btn {
				border-radius: 0;
			}
		}
	}
}