.news-main {
	padding-top: 8rem;
	padding-bottom: 15rem;
	background-color: $light;

	&__heading {
		margin-bottom: 7.5rem;
	}

	&__description {
		margin-top: -4.5rem;
		margin-bottom: 8rem;
		width: 78.5rem;
		font-weight: 700;
	}

	&__tags {
		margin-bottom: 10rem;
		display: flex;
		align-items: center;
		gap: 0.8rem;

		&-btn {
			border: none;
		}
	}

	&__list {
		margin-bottom: 6rem;
		display: flex;
		flex-wrap: wrap;
		gap: 3.4rem;
	}

	&.stocks {
		.news-main__item {
			&-name {
				&::after {
					background-color: transparent !important;
				}
			}
		}
	}

	&__item {
		width: 78.3rem;
		position: relative;

		&-img {
			width: 100%;
			height: 44rem;
			-o-object-fit: cover;
			object-fit: cover;
		}

		&-text {
			padding:4rem;
			display: flex;
			flex-direction: column;
			min-height: 35.3rem;
			background: url(../images/svg/bg/news-item-ornament.svg) top left/cover
					no-repeat,
				$darkBlue;
			border-radius: 0 0 5rem 5rem;
		}

		&-heading {
			margin-bottom: 1.6rem;
			color: $brightHeadlines;
		}

		&-description {
			margin-bottom: 1.6rem;
			color: $light;

			p {
				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}

		&-bottom {
			margin-top: auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&-date {
			margin-right: 2.4rem;
			color: $brightHeadlines;
		}

		&-name {
			color: $light;

			&:hover:not(:focus-visible) {
				color: $biege-btn;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__list-bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.arrow-link {
			color: $darkBlue;

			&:hover {
				color: $brightHeadlines;

				.arrow-link__icon {
					path {
						fill: $brightHeadlines;
					}
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.news-main {
		&__item {
			width: 67rem;

			&-text {
				padding: 8rem 4rem;
			}
		}

		&__description {
			width: auto;
			max-width: 67rem;
		}

		&__list {
			gap: 4.8rem;
		}

		&__item {
			&-description {
				margin: 0 0 4rem 0;
			}

			&-text {
				background-image: url('../images/svg/bg/news-item-ornament-mobile.svg');
				background-size: 100% 100%;
			}

			&-date {
				margin: 0 auto 0 0;
			}
		}
	}
}