.news-banner {
	padding-top: 18.4rem;
	margin-top: 14rem;
	height: 78rem;
	position: relative;
	text-align: center;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		z-index: -1;
	}

<<<<<<< HEAD
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
=======
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		z-index: -1;
	}
>>>>>>> df18357 (feat: update from remote)

	&__heading {
		margin-bottom: 4.4rem;
		font-family: El Messiri;
		font-size: 6.4rem;
		font-weight: 700;
		line-height: 1;
		color: #fffaf1;
	}

	&__subheading {
		margin-bottom: 4.5rem;
		font-weight: 700;
		font-size: 3.6rem;
		line-height: 1;
		color: #fffaf1;
	}

	&__btn {
		color: #fff9ee;
		border-color: #fff9ee;
		background-color: rgba(35, 41, 62, 0.3);
	}
}
