.news-main {
    padding-top: 8rem;
    padding-bottom: 15rem;
    background-color: $light;

    &__heading {
        margin-bottom: 8rem;
    }

    &__tags {
        margin-bottom: 10rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;

        &-btn {
            border: none;
        }
    }

    &__list {
        margin-bottom: 6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3.4rem;
    }

    &__item {
        width: 78.3rem;
        position: relative;

        &-img {
            width: 100%;
            height: 44rem;
            object-fit: cover;
        }

        &-text {
            padding: 5rem 3rem;
            display: flex;
            flex-direction: column;
            min-height: 35.3rem;
            background:
                url(../images/svg/news-item-ornament.svg) top left/cover no-repeat,
                $darkBlue;
            border-radius: 0 0 5rem 5rem;
        }

        &-heading {
            margin-bottom: 1.6rem;
            color: $brightHeadlines;
        }

        &-description {
            margin-bottom: 1.6rem;
            color: $light;
        }

        &-bottom {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p {
                margin-right: 2.4rem;
                color: $brightHeadlines;
            }

            a {
                color: $light;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__list-bottom {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .arrow-link {
            color: $darkBlue;
        }
    }
}
