.news-detail__hero {
    margin-top: 14rem;

    &.big-news-photo {
        .news-detail__hero-content__right-img {
            width: 78.3rem;
            height: 46.98rem;
        }
    }

    &-top {
        padding-top: 8rem;
        padding-bottom: 5.7rem;
        background-color: $light;

        .breadcrumbs {
            margin-bottom: 0;
        }
    }

    &-content {
        padding-top: 8rem;
        padding-bottom: 8rem;
        background-color: $darkBlue;

        .container {
            display: flex;
            justify-content: space-between;
        }

        &__left {
            margin-left: 3rem;
            width: 87.4rem;

            .heading2 {
                margin-bottom: 2.4rem;
                color: $light;
            }

            .heading4 {
                margin-bottom: 2.4rem;
                color: $brightHeadlines;
            }

            .text1 {
                color: $light;
            }
        }

        &__right {
            display: flex;
            position: relative;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            gap: 3.2rem;
            height: 49.6rem;

            &-img {
                width: 37.2rem;
                height: 100%;
                border-radius: 0 0 5rem 5rem;

                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                    border-radius: inherit;
                }
            }

            &-video {
                position: relative;
                width: 37.2rem;
                height: 100%;
                border-radius: 0 0 5rem 5rem;

                img {
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                       object-fit: cover;
                    border-radius: inherit;
                }

                .play-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    img {
                        width: 7.6rem;
                        height: 7.6rem;
                        -o-object-fit: contain;
                           object-fit: contain;
                    }
                }
            }

            &-text {
                position: absolute;
                bottom: 3rem;
                left: 3rem;
                color: $light;
                text-transform: none;
                width: 32rem;
            }
        }
    }
}

@media (max-width: 48em) {
	.news-detail__hero {
        margin-top: 18.5rem;

        &.big-news-photo {
            .news-detail__hero-content__right-img {
                width: 67rem;
                height: 37.2rem;
            }
        }

        &-top {
            padding: 5.6rem 0;
        }

        &-content {
            .container {
                flex-direction: column;
            }

            &__left {
                width: auto;
                margin: 0 0 8rem 0;

                .heading2 {
                    margin: 0 0 8rem 0;
                }

                .heading4 {
                    font-size: 2.8rem;
                }
            }

            &__right {
                justify-content: space-between;
                &-text {
                    width: auto;

                    .name {
                        text-transform: uppercase;
                    }
                }
                &-img,
                &-video {
                    margin: 0;
                }

                &-video {
                    .video-js {
                        width: 100%;
                        height: 100%;
                    }
                }

                .section-banner__right-img {
                    height: 43rem;
                }
            }
        }
	}
}