.ordering-progres {
	display: flex;
	align-items: center;
	&__box {
		display: flex;
		align-items: center;
		gap: 1.2rem;
	}

	&__return-btn {
		width: 7rem;
		height: 7rem;
		cursor: pointer;
		display: none;
		margin-right: 1.45rem;
		margin-left: -2.1rem;

		svg {
			width: 100%;
			height: 100%;
		}
		&.active {
			display: flex;
		}
	}

	&__phase-text {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: 11.9rem;
		top: 7.2rem;

		color: #bababa;
    white-space: nowrap;
		font-family: Circe;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
    text-align: center;
		line-height: 125%;
	}

	&__phase {
		width: 6rem;
		position: relative;
		height: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10rem;
		border: 0.1rem solid #f1ded0;
		padding: 0.6rem 1.6rem 0.2rem 1.6rem;

		&.active {
			background-color: #29354d;
			border: 0.1rem solid #29354d;
			.ordering-progres__phase-value {
				color: #fff9ee;
			}
      .ordering-progres__phase-text {
        color: #29354d;
        font-weight: 700;
      }
		}
		&.done {
			padding: 0.6rem 1.2rem;
			background-color: #29354d;
			border: 0.1rem solid #29354d;
			.ordering-progres__phase-value {
				display: none;
			}
			.ordering-progres__phase-done-icon {
				display: block;
			}
      .ordering-progres__phase-text {
        color: #29354d;
        font-weight: 700;
      }
		}
	}

	&__phase-done-icon {
		width: 2.9rem;
		height: 2.9rem;
		display: none;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__phase-value {
		display: block;
		color: #29354d;
		font-family: Circe;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: 125%;
		pointer-events: none;
	}

	&__line {
		display: block;
		height: 0.1rem;
		width: 31.9rem;
		background-color: rgba(121, 121, 121, 0.2);

		&.active {
			height: 0.2rem;
			background-color: #29354d;
		}
	}
}
