.ordering {
	&__subtitle {
		color: #29354d;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 125%;
		margin-top: -1.6rem;
    margin-bottom: 4.8rem;

	}

	&__box {
		border: 0.2rem solid #f1ded0;
		border-radius: 0 0 5rem 5rem;
		&-head {
			padding: 3.2rem 6rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			background: url(../images/svg/acc-head-ornament.svg) top left/cover
					no-repeat,
				#f1ded0;
			cursor: pointer;
		}
		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			padding: 3.8rem;
			min-width: 0;
		}
		&-input-list {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 2.4rem;
			margin-bottom: 4rem;
		}
		&-card-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 3.2rem 1.4rem;
			margin-bottom: 4rem;
		}

		&-card-logo {
			height: 4.1rem;
			width: 14.2rem;

			img {
				height: 100%;
				width: 100%;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}

		&-card-icon {
			display: block;
			width: 2.15rem;
			height: 0.65rem;
			margin: 0 auto;
			margin-top: 10.85rem;
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: contain;
				object-fit: contain;
			}
		}

		&-card-left {
			padding: 1.5rem;
			display: flex;
			flex-direction: column;
			gap: 3.2rem;
		}

		&-card-right {
			margin-left: auto;
			height: 100%;
			width: 5.6rem;
			background: rgba(234, 194, 178, 0.05);
			-webkit-backdrop-filter: blur(0.18rem);
			backdrop-filter: blur(0.18rem);
		}

		&-card-date {
			color: #fff9ee;
			font-family: Circe;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 400;
			line-height: 125%;
		}

		&-card-item {
			display: block;
			width: 23rem;
			overflow: hidden;
			cursor: pointer;
			height: 13.3rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			border-radius: 1rem;
			border: 0.1rem solid rgba(121, 121, 121, 0.2);

			.cards-list__item-number {
				color: #fff9ee;
				font-family: Circe;
				font-style: normal;
				font-weight: 400;
				line-height: 125%;
				gap: 0.5rem;

				p {
					font-size: 1.4rem;
				}

				div {
					display: flex;
					height: 100%;
					align-items: center;
					span {
						background-color: transparent;
						height: -webkit-fit-content;
						height: -moz-fit-content;
						height: fit-content;
						color: #fff9ee;
						font-size: 2.5rem;
						margin: 0 0 1.35rem;
						&:nth-child(2) {
							margin-right: 0.2rem;
						}
					}

					p {
						margin-right: 0.3rem;
					}
				}
			}

			&.red {
				align-items: flex-end;
				background: url('../images/svg/credit-card-bg-red.svg') top left/cover
					no-repeat #e6af9a;
			}

			&.blue {
				align-items: flex-end;
				background: url('../images/svg/credit-card-bg.svg') top left/cover
					no-repeat $darkBlue;

				input {
					&::after {
						border-color: #fff9ee;
					}
				}
			}
			input {
				position: absolute;
				top: 2.6rem;
				right: 2.6rem;
				width: 0;
				z-index: 2;
				height: 0;

				&::after {
					opacity: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					position: absolute;
					content: '';
					border: 0.2rem solid #29354d;
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
				}
			}

			input:checked {
				&::after {
					border-width: 0.6rem;
				}
			}
		}
	}

	&__orders-title {
		margin-bottom: 6rem;
		display: flex;
		align-items: center;
		gap: 6rem;

		strong {
			color: #29354d;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: 125%;
		}

		span {
			color: #797979;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
		}
	}

	&__orders-wrapper {
		.acc-item {
			.acc-head {
				height: 9.3rem;
			}

			.acc-content {
				overflow: hidden;
				max-height: 10.5rem;
				opacity: 1;
				&.active {
					overflow: visible;
					max-height: 100%;
				}

				p {
					&:not(:last-child) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	&__adress {
		display: none;
		flex-direction: column;
		gap: 3.2rem;

		&.active {
			display: flex;
		}
	}

	&__method {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		gap: 1.6rem;

		&-item {
			width: 49%;
			position: relative;
			justify-content: flex-start;
			cursor: pointer;

			input {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0rem;
				width: 0;
				z-index: 2;
				height: 0;

				&::after {
					opacity: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					position: absolute;
					content: '';
					border: 0.2rem solid #29354d;
					width: 2rem;
					height: 2rem;
					border-radius: 50%;
					margin-left: 1rem;
				}
			}

			input:checked {
				&::after {
					border-width: 0.6rem;
				}
			}

			input:checked ~ span {
				font-weight: 700;
			}

			input:checked + strong {
				font-weight: 700;
			}

			strong,
			span {
				font-family: Circe;
				font-size: 2rem;
				font-style: normal;
				font-weight: 400;
				line-height: 125%;
			}

			strong {
				color: #29354d;
				margin-left: 3.5rem;
				margin-right: 1.5rem;
			}

			span {
				color: #e3bca0;
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			gap: 3.2rem;
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
	}

	&__adress-head {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__shop-adress {
		display: none;
		flex-direction: column;

		&.active {
			display: block;
		}
	}

	&__shop-adress-card {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		background-color: #f1ded0;
		width: 100%;
		height: 13.6rem;
		margin-top: 3.2rem;

		strong {
			color: #29354d;
			font-family: Circe;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: 125%;
			margin-bottom: 0.6rem;
		}

		p {
			color: #29354d;
			font-family: Circe;
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 400;
			line-height: 140%;
			display: block;
			margin-bottom: 1.6rem !important;
		}
	}

	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 2.5rem;
	}

	&__adress-form {
		flex-wrap: wrap;
		gap: 2.4rem;
		display: none;
		display: flex;

		.modal__input-medium {
			width: 100%;
		}

		.input {
			font-weight: 400;
		}

		.popup-block {
			justify-content: space-between;
			width: 100%;
			height: 7.6rem;
			padding: 2.4rem 3.5rem;
			border-color: #f1ded0;
			&__wrapper {
				width: 100%;
				transition: 0.3s ease-in-out;
				&.active {
					padding-bottom: 51.4rem;
				}
				&--time {
					&.active {
						padding-bottom: 25.4rem !important;
					}
				}
			}

			.popup-block__popup--ordering {
				padding: 0;
				box-shadow: none;
				width: 100%;
				border: none;
				background-color: rgba(241, 222, 208, 0);
			}
		}
	}

	@media (max-width: 48em) {
		&-progres {
			&__box {
				position: relative;
				width: 100%;
				justify-content: flex-end;
			}

			&__line {
				position: absolute;
				bottom: -2rem;
				left: 0;

				&:nth-child(4) {
					left: 32rem;
				}
			}

			&__phase {
				&-text {
					display: none;
				}
			}

			&__phase.active {
				margin-right: auto;
				position: relative;

				.ordering-progres__phase-text {
					text-align: center;
					display: block;
					position: absolute;
					left: 17rem;
					top: 1.2rem;
					font-size: 2.8rem;
					width: 19rem;
				}
			}
		}

		&__box {
			&-card-item {
				width: 46.2rem;
				height: 26.6rem;
				border-radius: 2rem;

				input {
					top: 5.2rem;
					right: 5.2rem;
					
					&::after {
						width: 4rem;
						height: 4rem;
					}
				}
			}

			&-card-left {
				.cards-list__item-number {
					margin: 0 0 7rem 0;
					column-gap: 1rem;

					p {
						font-size: 2.8rem;
						line-height: normal;
						margin: 0;
					}

					span {
						width: 0.6rem;
						height: 0.6rem;
					}
				}

				span {
					font-size: 2.8rem;
				}
			}

			&-card-right {
				width: 11rem;
			}

			&-card-icon {
				margin: 22rem auto 4rem auto;
				width: 4rem;
				height: 1.2rem;
			}
		}

		&__card-swiper {
			overflow: hidden;
			width: 59rem;
			height: 26.6rem;
		}

		.cart__aside {
			margin-top: 10rem;
		}
	}
}
