.popup-block {
	position: relative;
	height: 5.6rem;
	display: flex;
	gap: 1.2rem;
	width: 36rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1.4rem 3.6rem;
	border: 0.2rem solid #29354d;

	&.active {
		svg {
			transform: rotate(-180deg);
		}
	}

	svg {
		display: block;
		width: 2.4rem;
		height: 2.4rem;
		transition: 0.4s;
	}

	&--borderless {
		border: none;
	}

	&__more-icon {
		transition: 0.3s ease-in-out;
	}

	&__arrows-icon {
		width: 2.4rem;
		height: 2.4rem;
		padding-left:3.6rem;
		background-image: url(../images/svg/generic/filter-arrows.svg);
		background-position: left center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	input {
		opacity: 0;
		right: 0;
		top: 0;
		position: absolute;

		&:checked + .popup-block__popup {
			opacity: 1;
			z-index: 2;
			transform: translateY(0);
		}

		&:checked ~ .popup-block__more-icon {
			transform: rotate(180deg);
		}
	}

	&__popup {
		width: 37.6rem;
		overflow-y: auto;
		opacity: 0;
		z-index: -1;
		transform: translateY(-3rem);
		transition: 0.3s ease-in-out;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		cursor: default;

		top: 8.35rem;
		left: 0;
		position: absolute;
		padding: 2.4rem;
		padding-top: 2.2rem;
		padding-bottom: 2.2rem;
		border-radius: 0 0 3rem 3rem;
		border: 0.1rem solid #f1ded0;
		background: #fff9ee;
		box-shadow: 1.5rem 2.4rem 3.5rem 0 rgba(0, 0, 0, 0.07);

		&--select {
			width: 100%;

			.popup-block__item {
				border: none;
				gap: 2rem;
				padding: 0;
				transition: 0.3s ease-in-out;

				&:hover {
					@media (hover: hover) {
						span {
							font-weight: 700;
						}
					}
				}

				span {
					width: 100%;
					cursor: pointer;
				}
			}

			input:checked + .popup-block__item-title {
				font-weight: 700;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		max-height: 43.3rem;
		overflow-y: auto;
		padding-right: 0.8rem;
		padding-top: 0.2rem;
		padding-bottom: 0.2rem;

		&--blue {
			padding: 2rem 3rem;
			background-color: $darkBlue;
			border-radius: 0 0 2.5rem 2.5rem;
			.popup-block__item {
				display: flex;
				align-items: center;
				input {
					display: block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					right: 0;
					width: 2rem;
					z-index: 2;
					height: 0;
					opacity: 1;

					&::after {
						opacity: 1;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						position: absolute;
						content: '';
						border: 0.2rem solid #fff9ee;
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
					}
				}

				input:checked {
					&::after {
						border-width: 0.6rem;
					}
				}
			}
			.popup-block__item-title {
				color: #fff9ee;
				font-weight: 400;
			}
		}

		&::-webkit-scrollbar {
			width: 0.4rem;
			right: 2rem;
			padding-right: 2rem; /* Ширина скроллбара */
		}

		::-webkit-scrollbar-thumb {
			background-color: #fff9ee; /* Цвет ползунка скроллбара */
			border-radius: 0.4rem; /* Закругление углов ползунка */
		}

		::-webkit-scrollbar-thumb:hover {
			background-color: #555; /* Цвет ползунка при наведении */
		}

		/* Стилизация трека (бара, по которому передвигается ползунок) */
		&::-webkit-scrollbar-track {
			background-color: #fff9ee; /* Цвет трека скроллбара */
		}

		&::-webkit-scrollbar-track:hover {
			background-color: #ddd; /* Цвет трека при наведении */
		}
		scrollbar-width: thin; /* Ширина скроллбара */

		&::-webkit-scrollbar {
			width: 0.4rem; /* Ширина скроллбара для Firefox */
		}

		&::-webkit-scrollbar-thumb {
			background-color: #f1ded0; /* Цвет ползунка скроллбара для Firefox */
			border-radius: 0.4rem; /* Закругление углов ползунка для Firefox */
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #555; /* Цвет ползунка при наведении для Firefox */
		}

		&::-webkit-scrollbar-track {
			background-color: #fff9ee; /* Цвет трека скроллбара для Firefox */
		}

		&::-webkit-scrollbar-track:hover {
			background-color: #ddd;
		}
	}

	&__item {
		display: flex;

		align-items: flex-end;
		justify-content: space-between;
		padding-bottom: 0.4rem;
		border-bottom: 0.1rem solid rgba(121, 121, 121, 0.2);

		span {
			width: 15.8rem;
		}

		&--list {
			border: none;
			padding: 0;

			span {
				width: 100%;
			}
		}
	}

	&__item-title {
		color: #29354d;
		text-align: left;
		transition: 0.4s ease-in-out;
	}

	&__item-value {
		text-align: right;
		color: #797979;
	}
}
