.proposal {
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 3.5rem;
		list-style-type: none;
	}
}

.proposal-card {
	position: relative;
	&__img {
		width: 100%;
		height: 35.4rem;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__link {
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.09rem;
		text-transform: uppercase;
		color: #fff9ee;
		margin-left: auto;
		margin-top: 6rem;
	}

	&__descr {
		width: 100%;
		min-height: 21.4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 0rem 0rem 5rem 5rem;
		padding: 6rem 4rem;
		position: relative;
		overflow: hidden;
		background-color: #29354d;
		background-image: url('../images/svg/proposal-card-bg.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0rem -6.8rem;

		&--large {
			background-image: url('../images/svg/proposal-card-bg.svg');
			background-repeat: no-repeat;
			background-position: 0rem 0rem;
		}

		&--mega-large {
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 0px -3.8rem;
			height: 51rem;
		}
	}

	&__descr-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
	}

	&__head {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
	}

	&__title {
		color: #e6af9a;
		font-family: Circe;
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		text-transform: uppercase;
	}

	&__text {
		color: #fff9ee;
		font-family: Circe;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: 125%;
	}

	&__price {
		display: flex;
		align-items: center;
		gap: 2.4rem;
		margin-left: auto;
	}

	&__price-value {
		color: #e6af9a;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
		margin-left: auto;
		margin-top: 4.1rem;
	}

	&__add-to-card {
		color: #fff9ee;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
	}
}
