.proposal {
	&__list {
		display: flex;
		justify-content: space-between;
		gap: 3.5rem;
		list-style-type: none;
	}
}

.proposal-card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;

	&__img {
		width: 100%;
		height: 38.25rem;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__link {
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.09rem;
		text-transform: uppercase;
		color: #fff9ee;
		margin-left: auto;
		margin-top: 6rem;
		transition: 0.2s ease-in-out;

		&:hover {
			@media (hover: hover) {
				color: #e6af9a;
			}
		}
	}

	&__descr {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-radius: 0rem 0rem 5rem 5rem;
		padding: 6rem 4rem;
		position: relative;
		overflow: hidden;
		background-color: #35415c;
		background-image: url('../images/background-7.webp');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center top;
		flex: 1;
	}

	&__descr-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
	}

	&__head {
		display: flex;
		flex-direction: column;
		height: 100%;
		
	}

	&__title {
		color: #e6af9a;
		font-family: Circe;
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		text-transform: uppercase;
		margin-bottom: 1.6rem
	}

	&__text {
		color: #fff9ee;
		font-family: Circe;
		font-size: 2rem;
		font-style: normal;
		font-weight: 400;
		line-height: 125%;
		margin-bottom: auto;
	}

	&__price {
		display: flex;
		align-items: center;
		
		gap: 2.4rem;
		margin-left: auto;
	}

	&__price-value {
		color: #e6af9a;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
		margin-left: auto;
	}

	&__add-to-card {
		color: #fff9ee;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
	}

	@media (max-width: 48em) {
		&__img {
			height: 50.2rem;
		}

		&__title {
			font-size: 3.6rem;
			margin-bottom: 2.4rem;
		}

		&__descr {
			background-image: url('../images/background-7-mobile.webp');
			background-size: cover;
			background-position: center top;
		
			padding: 8rem 4rem 10rem 4rem;
		}

		&__price-value {
			margin-top: auto;
			font-size: 2.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: 120%;
			letter-spacing: 0.084rem;
		}

		&__text {
			font-size: 2.4rem;
			margin-bottom: 3rem;
		}

		&__link {
			font-size: 2.8rem;
		}

		&__descr--mega-large {
			.proposal-card__title {
				margin: 0 0 2.4rem 0;
			}

			.proposal-card__text:not(:last-child) {
				margin: 0 0 2rem 0;
			}
		}
	}
}
