.request-employees {
    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 76.5rem;

        &-heading {
            margin-bottom: 5rem;
        }

        &-description {
            margin-bottom: 5rem;
            font-size: 4rem;
            line-height: 1;
        }

        &-form {
            width: 100%;

            .input-container {
                margin-bottom: 2.4rem;
            }
        }

        &-bottom {
            margin-top: 6rem;
            display: flex;
            align-items: center;

            &__btn {
                margin-right: 8rem;
            }

            &__policy {
                width: 32.6rem;
                color: $darkGrey;

                a {
                    text-decoration: underline;
                    text-underline-offset: 4px;
                }
            }
        }
    }

    &__right {
        width: 74rem;
        height: 65rem;
        border-radius: 0 0 5rem 5rem;

        &-img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
               object-fit: cover;
            border-radius: inherit;
        }
    }
}
