.services {
	&__heading {
		margin-bottom: 5rem;
	}

	&__link {
		margin-top: auto;
		display: block;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		border-bottom: 0.1rem solid;

		color: #29354d;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
	}

	&__container {
		position: relative;
	}

	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		&-item {
			width: 36.2rem;
			display: flex;
			flex-direction: column;
			height: auto;

			&__text {
				padding: 5rem 3rem 2rem 3rem;
				min-height: 29rem;
				height: calc(100% - 27.2rem);
				background-color: $biege;

				&-heading {
					margin-bottom: 1.2rem;
				}

				&-description {
					width: 27.7rem;
				}
			}

			&__icon {
				height: 27.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0 0 5rem 5rem;

				&.catering {
					background-color: $red;
				}

				&.organization {
					background-color: $blue;
				}

				&.corporate {
					background-color: $green;
				}

				&.barista {
					background-color: $darkBlue;
				}

				img {
					max-width: 20.6rem;
					max-height: 19.2rem;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}

	&--link {
		.services__swiper-slide__text {
			display: flex;
			flex-direction: column;
			min-height: 27.5rem;

			&-description {
				margin-bottom: 3rem;
				width: 31.5rem;
			}

			&-link {
				margin-left: auto;
				margin-top: auto;
				border-bottom: 1px solid $darkBlue;

				&:hover:not(:focus-visible) {
					color: $light;
					border-color: $light;
				}
			}
		}
	}

	&__swiper {
		margin-bottom: 5rem;

		.swiper-wrapper {
			align-items: stretch;
		}

		&-slide {
			display: flex;
			flex-direction: column;
			height: auto;

			&__text {
				padding: 5rem 3rem 3rem 3rem;
				min-height: 24.1rem;
				height: calc(100% - 27.2rem);
				background-color: $biege;

				&-heading {
					margin-bottom: 1.2rem;
				}

				&-description {
					width: 27.7rem;
				}
			}

			&__icon {
				height: 27.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0 0 5rem 5rem;

				&.catering {
					background-color: $red;
				}

				&.organization {
					background-color: $blue;
				}

				&.corporate {
					background-color: $green;
				}

				&.barista {
					background-color: $darkBlue;
				}
				img {
					width: 20.6rem;
					height: 19.2rem;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}

	@media (max-width: 48em) {
		&__heading {
			margin-bottom: 8rem;
		}

		&__list {
		}

		&__swiper {
			&-slide {
				&__icon {
					padding: 8rem 4rem;
					flex-direction: column;
					align-items: flex-start;
					height: auto;
					border-radius: 0 0 7.2rem 7.2rem;

					img {
						margin-bottom: 2.4rem;
						width: 18rem;
						height: 19.2rem;
						align-self: center;
					}

					&-heading {
						margin-bottom: 2.4rem;
					}

					&-heading,
					&-description {
						color: $light;
					}
				}
			}
		}

		.services__list {
			overflow: hidden;

			&-item {
				&__text {
					padding: 8rem 4rem 12rem 4rem;
					height: auto;
				}
				&__icon {
					height: 50.4rem;
				}
			}
		}

		.three-item-container {
			flex-direction: column;

			.catalog-card-1 {
				width: auto;
				flex: 0 1 100%;

				&__imgless {
					height: 50.6rem;
				}

				&__descr {
					height: auto;
				}

				.three-card-img {
					height: 51rem !important;
				}

				&__info {
					padding: 8rem 4rem;
					height: auto;

					&-block-title {
						font-size: 3.6rem;
						line-height: 150%; 
						margin: 0 0 2.4rem 0;
					}

					&-row {
						margin: 0 0 2.4rem 0;

						&:nth-child(3) {
							margin: 0 0 5rem 0;
						}
					}

					&-item {
						span {
							font-size: 2.8rem;
						}

						strong {
							font-size: 2.8rem;
						}
					}

					&-price {
						font-size: 5.2rem;
						margin: 0 0 7rem auto;
					}
				}

				&__link {
					margin: 0 auto;
					margin-left: -1.5rem;

					span {
						display: inline-block;
						font-size: 3.6rem;
						width: 62rem;
						margin: 0 auto;
						text-align: center;
					}
				}
			}
		}

		.services__swiper-slide {
			&__text {
				padding: 8rem 4rem;
				height: calc(100% - 47.7rem);
			}

			&__text-description {
				width: 59.2rem;
				margin: 0 0 12rem 0;
			}

			&__text-link {
				font-size: 3.2rem;
			}

			&__icon {
				height: 50.4rem;
			}
		}

		.services__slide {
			.services__list-item__text {
				padding: 8rem 4rem;
				height: calc(100% - 47.7rem);
			}
		}

		.swiper-controllers {
			.swiper-prev,
			.swiper-next {
				display: none;
			}
		}

		.services__swiper-pagination-1 {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			max-width: 67rem;

			& .swiper-pagination-bullet {
				width: 3rem;
				height: 3rem;
				border: 0.2rem solid #29354d;
				border-radius: 50%;
				background-color: transparent;
				opacity: 1;

				&-active {
					background-color: #29354d;
				}

				&:not(:last-child) {
					margin-right: 2.6rem;
				}
			}
		}
	}
}
