.services {
    &__heading {
        margin-bottom: 5rem;
    }

    &__container {
        position: relative;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        &-item {
            width: 36.2rem;

            &__text {
                padding: 5rem 3rem 2rem 3rem;
                min-height: 27rem;
                background-color: $biege;

                &-heading {
                    margin-bottom: 1.2rem;
                }

                &-description {
                    width: 27.7rem;
                }
            }

            &__icon {
                height: 27.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 0 5rem 5rem;

                &.catering {
                    background-color: $red;
                }

                &.organization {
                    background-color: $blue;
                }

                &.corporate {
                    background-color: $green;
                }

                &.barista {
                    background-color: $darkBlue;
                }
                img {
                    width: 20.6rem;
                    height: 19.2rem;
                    object-fit: contain;
                }
            }
        }
    }

    &.business {
        .services__swiper-slide__text {
            display: flex;
            flex-direction: column;
            min-height: 27.5rem;

            &-description {
                margin-bottom: 3rem;
                width: 31.5rem;
            }

            &-link {
                margin-left: auto;
                margin-top: auto;
                border-bottom: 1px solid $darkBlue;
            }
        }
    }

    &__swiper {
        margin-bottom: 5rem;

        .swiper-wrapper {
            align-items: stretch;
        }

        &-slide {
            display: flex;
            flex-direction: column;
            height: auto;

            &__text {
                padding: 5rem 3rem 3rem 3rem;
                min-height: 24.1rem;
                height: calc(100% - 27.2rem);
                background-color: $biege;

                &-heading {
                    margin-bottom: 1.2rem;
                }

                &-description {
                    width: 27.7rem;
                }
            }

            &__icon {
                height: 27.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0 0 5rem 5rem;

                &.catering {
                    background-color: $red;
                }

                &.organization {
                    background-color: $blue;
                }

                &.corporate {
                    background-color: $green;
                }

                &.barista {
                    background-color: $darkBlue;
                }
                img {
                    width: 20.6rem;
                    height: 19.2rem;
                    object-fit: contain;
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__heading {
            margin-bottom: 8rem;
        }

        &__list {
        }

        &__swiper {
            &-slide {
                &__icon {
                    padding: 8rem 4rem;
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                    border-radius: 0 0 7.2rem 7.2rem;

                    img {
                        margin-bottom: 2.4rem;
                        width: 18rem;
                        height: 19.2rem;
                        align-self: center;
                    }

                    &-heading {
                        margin-bottom: 2.4rem;
                    }

                    &-heading,
                    &-description {
                        color: $light;
                    }
                }
            }
        }
    }
}
