.services {
	&__heading {
		margin-bottom: 5rem;
	}

	&__link {
		margin-top: auto;
		display: block;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		border-bottom: 0.1rem solid;

		color: #29354d;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
	}

	&__container {
		position: relative;
	}

	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		&-item {
			width: 36.2rem;
			display: flex;
			flex-direction: column;
			height: auto;

			&__text {
				padding: 5rem 3rem 2rem 3rem;
				min-height: 29rem;
				height: calc(100% - 27.2rem);
				background-color: $biege;

				&-heading {
					margin-bottom: 1.2rem;
				}

				&-description {
					width: 27.7rem;
				}
			}

			&__icon {
				height: 27.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0 0 5rem 5rem;

				&.catering {
					background-color: $red;
				}

				&.organization {
					background-color: $blue;
				}

				&.corporate {
					background-color: $green;
				}

				&.barista {
					background-color: $darkBlue;
				}

				img {
					max-width: 20.6rem;
					max-height: 19.2rem;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}

	&--link {
		.services__swiper-slide__text {
			display: flex;
			flex-direction: column;
			min-height: 27.5rem;

			&-description {
				margin-bottom: 3rem;
				width: 31.5rem;
			}

			&-link {
				margin-left: auto;
				margin-top: auto;
				border-bottom: 1px solid $darkBlue;

				&:hover:not(:focus-visible) {
					color: $light;
					border-color: $light;
				}
			}
		}
	}

	&__swiper {
		margin-bottom: 5rem;

		.swiper-wrapper {
			align-items: stretch;
		}

		&-slide {
			display: flex;
			flex-direction: column;
			height: auto;

			&__text {
				padding: 5rem 3rem 3rem 3rem;
				min-height: 24.1rem;
				height: calc(100% - 27.2rem);
				background-color: $biege;

				&-heading {
					margin-bottom: 1.2rem;
				}

				&-description {
					width: 27.7rem;
				}
			}

			&__icon {
				height: 27.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0 0 5rem 5rem;

				&.catering {
					background-color: $red;
				}

				&.organization {
					background-color: $blue;
				}

				&.corporate {
					background-color: $green;
				}

				&.barista {
					background-color: $darkBlue;
				}
				img {
					width: 20.6rem;
					height: 19.2rem;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}

	@media (max-width: 48em) {
		&__heading {
			margin-bottom: 8rem;
		}

		&__list {
		}

		&__swiper {
			&-slide {
				&__icon {
					padding: 8rem 4rem;
					flex-direction: column;
					align-items: flex-start;
					height: auto;
					border-radius: 0 0 7.2rem 7.2rem;

					img {
						margin-bottom: 2.4rem;
						width: 18rem;
						height: 19.2rem;
						align-self: center;
					}

					&-heading {
						margin-bottom: 2.4rem;
					}

					&-heading,
					&-description {
						color: $light;
					}
				}
			}
		}
	}
}
