.services {
	&__heading {
		margin-bottom: 3rem;
	}

	.swiper-controllers {
		margin-top: 5rem;
		.serv__swiper-pagination,
		.formats__swiper-pagination,
		.proposal__swiper-pagination {
			top: 0;
		}
	}

	&__link {
		margin-top: auto;
		display: block;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		border-bottom: 0.1rem solid;

		color: #35415C;
		font-family: Circe;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%; /* 23.4px */
		letter-spacing: 0.09rem;
		text-transform: uppercase;
	}

	&__container {
		position: relative;
	}

	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;

		&-item {
			width: 37.2rem;
			display: flex;
			flex-direction: column;

			&__text {
				padding: 5rem 3rem 3rem;
				background-color: $biege;
				flex-grow: 1;

				&-heading {
					margin-bottom: 1.2rem;
				}

				&-description {
					width: 27.7rem;
				}
			}

			&__icon {
				height: 27.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0 0 5rem 5rem;

				&.catering {
					background-color: $red;
				}

				&.organization {
					background-color: $blue;
				}

				&.corporate {
					background-color: $green;
				}

				&.barista {
					background-color: $darkBlue;
				}

				img {
					max-width: 20.6rem;
					max-height: 19.2rem;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}

	&--link {
		.services__swiper-slide__text {
			display: flex;
			flex-direction: column;
			min-height: 27.5rem;

			&-description {
				margin-bottom: 3rem;
				width: 31.5rem;
			}

			&-link {
				margin-left: auto;
				margin-top: auto;
				border-bottom: 1px solid $darkBlue;

				&:hover:not(:focus-visible) {
					color: $light;
					border-color: $light;
				}
			}
		}
	}

	&__swiper {
		.swiper-wrapper {
			align-items: stretch;
		}

		&-slide {
			display: flex;
			height: auto;
			flex-direction: column;

			&__image {
				width: 100%;
				height: 28.05rem; 
				border-radius: 0px 0px 5rem 5rem;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					-o-object-fit: cover;
					object-fit: cover;
				}
			}

			&__text {
				padding: 5rem 3rem 3rem 3rem;
				min-height: 24.1rem;
				height: calc(100% - 27.2rem);
				background-color: $biege;

				&-heading {
					margin-bottom: 1.2rem;
				}

				&-description {
					width: 100%;
				}
			}

			&__icon {
				height: 27.2rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0 0 5rem 5rem;

				&.catering {
					background-color: $red;
				}

				&.organization {
					background-color: $blue;
				}

				&.corporate {
					background-color: $green;
				}

				&.barista {
					background-color: $darkBlue;
				}
				img {
					width: 20.6rem;
					height: 19.2rem;
					-o-object-fit: contain;
					object-fit: contain;
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.services {
		.services__swiper-slide {
			&__text {
				padding: 8rem 4rem;
				min-height: 52.2rem;
				height: auto;

				&-link {
					margin-top: auto;
				}

				&-heading {
					max-width: 59.2rem;
				}

				&-description {
					width: auto;
					max-width: 59.2rem;

					&:not(:last-child) {
						margin: 0 0 12.2rem 0;
					}
				}
			}

			&__image {
				height: 50.4rem;

				img {
					-o-object-fit: cover;
					   object-fit: cover;
				}

				&-heading {
					display: none;
				}
				&-description {
					display: none;
				}
			}
		}

		&__list-item {
			&--small {
				.services__list-item__text {
					padding: 8rem 4rem 12rem 4rem;
					height: calc(100% - 50.4rem);
				}

				.services__list-item__icon {
					height: 50.4rem;
				}
			}

			&--medium {
				.services__list-item__text {
					min-height: 50rem;
					height: calc(100% - 54.4rem);
				}

				.services__list-item__icon {
					height: 54.4rem;
				}
			}

			&__text {
				padding: 8rem 4rem;
				height: calc(100% - 50.4rem);

				&-description {
					width: auto;
				}
			}

			&__icon {
				height: 50.4rem;

				&-heading {
					display: none;
				}
				&-description {
					display: none;
				}
			}
		}

		.three-item-container {
			flex-direction: column;

			.catalog-card-1 {
				width: auto;
				flex: 0 1 100%;

				&__img {
					height: 50.6rem;
				}

				&__descr {
					height: auto;
				}

				&__imgless {
					height: 50.6rem;
				}

				&__info {
					padding: 8rem 4rem;
					row-gap: 2.4rem;
					height: auto;

					&-block-title {
						font-size: 3.6rem;
					}

					&-item {
						strong,
						span {
							font-size: 2.8rem;
						}
					}

					&-price {
						margin-top: 2.6rem;
						font-size: 5.2rem;
					}
				}

				&__link {
					padding: 0;
					margin-top: 4.6rem;
					margin-left: -1rem;
					margin-right: -1rem;
					text-align: center;

					span {
						font-size: 3.6rem;
					}
				}
			}
		}
	}
}
