.settings-bar {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin-bottom: 10rem;

	&__row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__box {
		display: flex;
		align-items: center;
		gap: 2.4rem;

		.geo-btn {
			border: none;
			span {
				padding-left: 3.4rem;
				background-image: url(../images/symbil/stack/sprite.svg#generic--geo-single);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;
			}
		}
	}

	@media (max-width: 48em) {
		padding: 0;

		&.container {
			padding: 0 4rem;
		}

		&__box {
			gap: 1.6rem;

			.tag-btn.geo-btn {
				display: none;
			}
		}

		.filter-btn {
			padding: 4.7rem 3.5rem;

			span {
			font-size: 0;
			}
		}

		.search-block {
			height: 9.6rem;
			max-height: 9.6rem;

			label {
				height: 100%;
				font-size: 2.8rem;
				background-size: 3.2rem 3.2rem;

				button {
					display: none;
				}
			}
		}

		.popup-block {
			width: auto;
			padding: 4.7rem 3.5rem;

			&__arrows-icon {
				padding-left: 0;
				width: 3.6rem;
				height: 3.6rem;
			}

			&__select-value {
				display: none;
			}

			&__more-icon {
				display: none;
			}

			&__popup {
				padding: 4.8rem;
				width: 33.8rem;
				top: 10.35rem;
				left: -23rem;
			}

			&__list {
				row-gap: 4rem;
			}

			&__item-title {
				font-size: 2.7rem;
			}
		}

		&__row {

			&:last-child {
				.category-block {
					&__btn-left,
					&__btn-right {
						display: none;
					}

					&__item {
						span {
							font-size: 2.8rem;
						}
					}
				}
			}
		}
	}
}
