.settings-bar {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin-bottom: 10rem;

	&__row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__box {
		display: flex;
		align-items: center;
		gap: 2.4rem;

		.geo-btn {
			border: none;
			span {
				padding-left: 3.4rem;
				background-image: url(../images/svg/generic/geo-single.svg);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;
			}
		}
	}
}
