.settings-bar {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	margin-bottom: 10rem;

	&__row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__box {
		display: flex;
		align-items: center;
		gap: 2.4rem;

		.geo-btn {
			border: none;
			span {
				padding-left: 3.4rem;
				background-image: url(../images/symbil/stack/sprite.svg#generic--geo-single);
				background-repeat: no-repeat;
				background-position: left center;
				background-size: contain;
			}
		}
	}

	@media (max-width: 48em) {
		padding: 0;

		&.container {
			padding: 0rem;
		}

		&__box {
			gap: 1.6rem;

			.tag-btn {
				.geo-btn {
					display: none;
				}
			}
		}

		.filter-btn {
			padding: 4.7rem 3.5rem;

			span {
				font-size: 0;
			}
		}

		.search-block {
			max-height: 9.6rem;
			border: 0.4rem solid #35415c;
			height: 9.6rem;

			label {
				height: 100%;
				font-size: 2.8rem;
				background-size: 3.2rem 3.2rem;
				background-position: 1.6rem center;

				button {
					display: none;
				}
			}
		}

		.popup-block {
			width: auto;
			padding: 4.7rem 3.5rem;
			border: 0.4rem solid #35415c;

			&__arrows-icon {
				padding-left: 0;
				width: 3.6rem;
				height: 3.6rem;
			}

			&__select-value {
				display: none;
			}

			&__more-icon {
				display: none;
			}

			&__popup {
				padding: 4.8rem;
				width: 33.8rem;
				top: 10.35rem;
				left: -23rem;
			}

			&__list {
				row-gap: 4rem;
			}

			&__item-title {
				font-size: 2.7rem;
			}
		}

		&__row {
			&:last-child {
				.category-block {
					&__btn-left,
					&__btn-right {
						display: none;
					}

					&__item {
						span {
							font-size: 2.8rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 48em) {
	.settings-bar__mobile-medium {
		column-gap: 0.8rem;

		#filter {
			padding: 0;
			flex: 0 0 35.6rem;
			padding: 5rem 9.4rem;

			span {
				padding-left: 5.2rem;
				font-size: 2.8rem;
				line-height: 140%; /* 3.92rem */
			}
		}

		.filter__tag-list {
			flex: 0 0 32.8rem;

			button {
				span {
					font-size: 2.8rem;
					line-height: 140%; /* 3.92rem */
				}
			}
		}
	}

	.settings-bar__mobile-big {
		.settings-bar__row {
			&:first-child {
				.settings-bar__box {
					&:first-child {
						.tag-btn.filter-btn {
							border: 0.4rem solid $darkBlue;
							padding-top: 4.45rem;
							padding-bottom: 4.45rem;

							span {
								display: block;
								background-size: 3.6rem 3.6rem;
								width: 3.6rem;
								height: 3.6rem;
								background-position: center 0.5rem;
							}
						}
					}

					&:last-child {
						.tag-btn.geo-btn {
							display: none;
						} 

						.popup-block {
							padding-top: 4.45rem;
							padding-bottom: 4.45rem;
						}
					}
				}
			}
		}
	}
}