*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: 'Circe'; // шрифт по умолчанию по сайту
	font-size: 0.5208335vw; // на разрешении 1920 0.520835vw === 10px
	font-style: normal;
	font-weight: 400;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1;
	margin: 0;
	padding: 0;
}

body {
	font-style: normal;
	font-weight: 400;
	-webkit-animation: bugfix infinite 1s;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	color: #35415C; // цвет по умолчанию текста по сайту
	background: #ffffff;
}

input,
textarea {
	-webkit-animation: bugfix infinite 1s;
	line-height: inherit;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	color: inherit;
}

a {
	color: unset;
}

a,
a:hover {
	text-decoration: none;
}

button,
input,
a,
textarea {
	outline: none;
	cursor: pointer;
	font: inherit;

	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
	margin: 0;
	padding: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

button {
	border: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	padding: 0;
	background-color: transparent;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 160rem;
	margin: 0 auto;
	max-width: 1600px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 120em) {
	html {
		font-size: 10px;
		background-color: #fff9ee;
	}

	body {
		max-width: 1920px;
		margin: 0 auto;
	}

	.container {
		margin: 0 auto;
		max-width: 1600px;
	}
}

@media (max-width: 48em) {
	html {
		font-size: 5px;
		font-size: 1.5625vw;
		font-size: calc((100 / 375) * 5vw); // где 375 это ширина моб версии макета
		-webkit-text-size-adjust: none;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	.container {
		padding: 0 4rem; // в моб версии отступ от края задаем для всех контейнеров, а там где не нужно можем точечно убрать
		width: 100%;
	}
}
