.teg-list {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem 2rem;
  width: 67rem;
  padding: 3.2rem;
  &:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  p {
    width: 100%;
  }

	&__item {
		display: flex;
		gap: 1.6rem;
		align-items: center;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
    justify-content: flex-start;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;

		input {
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
      
			&:checked ~ .teg-list__check-btn {
				svg {
					display: block;
				}
			}
		}

		&:hover {
			.teg-list__check-btn {
				@media (hover: hover) {
					border: 0.2rem solid #29354d;
				}
			}
		}
	}

	&__check-btn {
		width: 4rem;
		height: 4rem;
		border: 0.2rem solid #f1ded0;
		transition: 0.2s ease;
		display: flex;
		justify-content: center;
		align-items: center;
    z-index: -1;

		svg {
			display: none;
			width: 1.4rem;
			height: 1.5rem;
		}
	}
}
