.video {
	background-color: $darkBlue;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	&__content {
		position: relative;
		width: 100%;
		height: 74rem;

		&-item {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}

		&-btn {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}

	@media (max-width: 48em) {
		&__content {
			height: 148rem;
			width: 75rem;
			margin-left: -4rem;
		}
	}
}

//кастомные настройки плеера

.video-js {
	color: #29354d !important;
	width: 160rem;
	height: 74.2rem;
}

.video-js--light {
	.vjs-poster {
		background-color: #fff9ee !important;
		img {
			background-color: #fff9ee !important;
		}
	}
}

.video-js--medium {
	width: 100%;
	height: 100%;
	.vjs-poster {
		background-color: #35415c;
		img {
			background-color: #35415c;
			border-radius: 0px 0px 5rem 5rem;
		}
	}
}

.video-js--slim {
	width: 37.2rem;
	height: 100%;
	.vjs-poster {
		background-color: #35415c;
		img {
			background-color: #35415c;
			border-radius: 0px 0px 5rem 5rem;
		}
	}
}

.video-js--small {
	width: 37.2rem;
	height: 100%;

	.vjs-poster {
		background-color: #35415c;
		img {
			background-color: #35415c;
			border-radius: 0px 0px 5rem 5rem;
		}
	}
}

.vjs-poster img {
	background-color: $light;
}

.video-js .vjs-control-bar {
	background-color: #fff9ee !important;
}

.vjs-picture-in-picture-control {
	display: none !important;
}

.video-js .vjs-progress-holder .vjs-play-progress {
	background-color: #29354d !important;
}

.video-js .vjs-slider {
	background-color: #f1ded0 !important;
}

.vjs-volume-level {
	background-color: #29354d !important;
}

.vjs-poster img {
	width: 100% !important;
	height: 100% !important;
	-o-object-fit: cover !important;
	object-fit: cover !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
	content: '' !important;
}

.video-js .vjs-big-play-button {
	z-index: 3 !important;
	border-radius: 0 !important;
	border: none !important;
	background-color: #ffffff00 !important;
	width: 8.8rem !important;
	height: 8.8rem !important;
	background-image: url('../images/svg/generic/player-icon.svg') !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	right: 50% !important;
	top: 50% !important;
	left: auto;
	bottom: auto;
	transform: translate(-50%, -50%);
	margin: 0 !important;
}

.video-js .vjs-big-play-button:hover {
	background-image: url('../images/svg/generic/player-icon-hover.svg') !important;
	background-repeat: no-repeat;
	background-size: contain;
}

@media (max-width: 48em) {
	.video {
		.container {
			padding: 0;
		}
	}

	.video-js {
		height: 148rem;
		width: 75rem;
	}

	// .video-js .vjs-big-play-button {
	// 	right: 37% !important;
	// }
}
