@import 'set';
@import 'components';
@import '../fonts/fonts';

@import 'index';

@import 'header';
@import 'footer';

@import 'popup';

@import 'section-banner';

@import 'account-main';
@import 'account-lk';

@import 'catalog-hero';
@import 'catalog-main';

@import 'main-banner';
@import 'main-about';

@import 'categories-section';

@import 'services';

@import 'video';

@import 'news';

@import 'events';

@import 'franchise';

@import 'news-banner';
@import 'news-main';

@import 'news-detail__hero';
@import 'news-detail';

<<<<<<< HEAD
@import "about-hero";
@import "about-info";
@import "about-production";
@import "about-team";
@import "about-advantages";
@import "about-numbers";
=======
@import 'about-hero';
@import 'about-info';
@import 'about-production';
@import 'about-team';
@import 'about-advantages';
>>>>>>> 021b322 (feat: update from remote)

@import 'interiors';

@import 'business-advantages';

@import 'cooperation';

<<<<<<< HEAD
<<<<<<< HEAD
=======
@import 'away-banner';
>>>>>>> 021b322 (feat: update from remote)

@import "contacts-info";
=======
@import 'contacts-info';

@import 'coffeeshops';
>>>>>>> c38f3e1 (feat: update from main remote)

@import 'authorcoffee-types';

@import 'delivery-main';

<<<<<<< HEAD
<<<<<<< HEAD
@import "chronology";

@import "manager-request";

// ГЛЕБ
@import "catalog-main-block";
@import "catalog-card-price";
@import "catalog-card-add-to-cart";
@import "catalog-card-1";
@import "catalog-card-2";
@import "catalog-main-banner";

@import "request-employees";

@import "away-banner";

@import 'proposal-card';

@import "contacts-info";

@import "coffeeshops";

@import "authorcoffee-types";

@import "delivery-main";

@import "carrer-banner";
@import "carrer-vacancies";

=======
=======
@import 'carrer-banner';
@import 'carrer-vacancies';
>>>>>>> c38f3e1 (feat: update from main remote)

// ГЛЕБ
@import 'catalog-main-block';
@import 'catalog-card-price';
@import 'catalog-card-1';
@import 'catalog-card-2';
@import 'catalog-main-banner';
<<<<<<< HEAD
>>>>>>> fcb307c (cooking-menu added)
=======
@import 'coloring';
>>>>>>> 24a169d (feat: complitly recreate old pages)

@import 'contacts-info';

@import 'coffeeshops';

@import 'authorcoffee-types';

@import 'delivery-main';

@import 'carrer-banner';
@import 'carrer-vacancies';

@import 'coloring';

//Марк
@import 'proposal';
@import 'away-banner';
@import 'away-card-slider';
@import 'swipers';
@import 'corpo-food';
@import 'corpo-food-banner';
@import 'keitering-banner';
@import 'feedback-section';
@import 'catalog-inputs';
@import 'card-det';
@import 'cart';
@import 'catalog';

body {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(56, 55, 66, 0.25);
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		z-index: 5;
	}
}

body.blur {
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

body.lock {
	overflow: hidden;
}

@media (min-width: 48.01em) {
	.mobile {
		display: none !important;
	}
}

body {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(56, 55, 66, 0.25);
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		z-index: 5;
	}
}

body.blur {
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

body.lock {
	overflow: hidden;
}

@media (min-width: 48.01em) {
	.mobile {
		display: none !important;
	}
}

@media (max-width: 48em) {
	.desktop {
		display: none !important;
	}
}
