@import "set";
@import "components";
@import "../fonts/fonts";

@import "index";

@import "header";
@import "footer";

@import "popup";

@import "section-banner";

@import "account-main";
@import "account-lk";

@import "catalog-hero";
@import "catalog-main";

@import "main-banner";
@import "main-about";

@import "categories-section";

@import "services";

@import "video";

@import "news";

@import "events";

@import "franchise";

@import "news-banner";
@import "news-main";

@import "news-detail__hero";
@import "news-detail";

@import "about-hero";
@import "about-info";
@import "about-production";
@import "about-interiors";
@import "about-team";

body {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(56, 55, 66, 0.25);
        backdrop-filter: blur(1rem);
        opacity: 0;
        visibility: hidden;
        transition-property: opacity, visibility;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        z-index: 5;
    }
}

body.blur {
    &::after {
        opacity: 1;
        visibility: visible;
    }
}

body.lock {
    overflow: hidden;
}

@media (min-width: 48.01em) {
    .mobile {
        display: none !important;
    }
}

@media (max-width: 48em) {
    .desktop {
        display: none !important;
    }
}
