@import 'set';
@import 'components';
@import '../fonts/fonts';

@import 'index';

@import 'header';
@import 'footer';

@import 'popup';

@import 'section-banner';

@import 'account-main';
@import 'account-lk';

@import 'catalog-hero';
@import 'catalog-main';

@import 'main-banner';
@import 'main-about';

@import 'categories-section';

@import 'services';

@import 'video';

@import 'news';

@import 'events';

@import 'franchise';

@import 'news-banner';
@import 'news-main';

@import 'news-detail__hero';
@import 'news-detail';

@import 'about-hero';
@import 'about-info';
@import 'about-production';
@import 'about-team';
@import 'about-advantages';

@import 'interiors';

@import 'business-advantages';

@import 'cooperation';

@import 'contacts-info';

@import 'coffeeshops';

@import 'authorcoffee-types';

@import 'delivery-main';

@import 'carrer-banner';
@import 'carrer-vacancies';

// ГЛЕБ
@import 'catalog-main-block';
@import 'catalog-card-price';
@import 'catalog-card-1';
@import 'catalog-card-2';
@import 'catalog-main-banner';

@import 'contacts-info';

@import 'coffeeshops';

@import 'authorcoffee-types';

@import 'delivery-main';

@import 'carrer-banner';
@import 'carrer-vacancies';

@import 'coloring';

//Марк
@import 'proposal';
@import 'away-banner';
@import 'away-card-slider';
@import 'swipers';

body {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(56, 55, 66, 0.25);
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		z-index: 5;
	}
}

body.blur {
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

body.lock {
	overflow: hidden;
}

@media (min-width: 48.01em) {
	.mobile {
		display: none !important;
	}
<<<<<<< HEAD
}

body {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(56, 55, 66, 0.25);
		-webkit-backdrop-filter: blur(1rem);
		        backdrop-filter: blur(1rem);
		opacity: 0;
		visibility: hidden;
		transition-property: opacity, visibility;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		z-index: 5;
	}
}

body.blur {
	&::after {
		opacity: 1;
		visibility: visible;
	}
}

body.lock {
	overflow: hidden;
}

@media (min-width: 48.01em) {
	.mobile {
		display: none !important;
	}
=======
>>>>>>> 3f9d4f3 (feat: recreate away.html and fix some errors)
}

@media (max-width: 48em) {
	.desktop {
		display: none !important;
	}
}
